/** ïîëó÷àòåëü */
.by_phone_only_main {margin-top: 0px !important}
.delivery_only_by_phone {font-family: Arial!important; background-color: #fffdb8 !important; display: none; position: static !important}
/** shipping */
#show_delivery_info_tbl, #show_all_payments {text-decoration: none; border-bottom: 1px dashed #71a01b; cursor: pointer; color: #71a01b; font-size: 14px}

/*.delivery_info_tbl {display: none}*/
.payment_types {width: 100%;}
/*.payment_types > *.bigPayment {width: calc(100% / 4)}
.payment_types > * {width: calc(100% / 4)}*/
async-hide { opacity: 0 !important}
.catalogItem .item-stickers {top:auto!important; right:auto!important; bottom: 0 !important; left: -10px !important;}
.catalogItem .item-stickers>div {float: none!important;}
.catalogItem .catalog_item_hit, .catalogItem .catalog_item_bouquet {display: none;}
.catalogItem .cost .oldCost {display: none}
.catalogItem .cost .newCost {color: #000}
/** product */
.product .kolvo .oldCost {display: none;}
#content .contentBlock h1 {margin: 20px 10px!important; font-size: 28px!important; color: #ff8a01!important; text-shadow: none!important;}
#content-data>#baner_slider {display: none;}
#rightUh, .htmlblock_shadow, #leftUh > a {display: none!important}
#leftUh {background: none;}
#content .seton_filters {display: none; padding: 10px 0; text-align: center;}
#content .seton_filters div {font-family: Arial; margin: 5px 5px 0 5px; }
#content .seton_filters div b {color: #ff8a01}
