@media screen and (max-width:800px) {
    .ramka {
    width: 95%!important;
    height: inherit!important;
}
.colorChange a:hover {
    border: 1px solid #FFF;
}
#ActionBlock.LeftStyle, #leftUh, #rightUh, div.htmlblock_shadow {
    display: none!important;
}
.pagging {
    display: block!important;
}
.pagging div.count_pages {
    padding-top: 15px;
}
}
@media screen and (max-width:500px) {
    .ramka {
    width: 95%!important;
    height: inherit!important;
    position: relative;
    top: 11px;
}
}
@media screen and (max-width:480px) {
    #baner_slider>img, .newsBlock .newsText img {
        max-width: 100%!important;
    }
    .icons__text {
        float: left;
        padding-left: 5px;
    }
    .icons {
        float: left;
    }

.no_results_text .window_info.in_body, .no_results_text div>div.search_empty, div.presents_page span.presents_items_list, div.tb_hover_popup>div.text_block_cont {
    white-space: normal;
}
html {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.no-mobile {
    display: none!important;
}
.for-mobile {
    display: block!important;
}
.for-mobile-td {
    display: table-cell!important;
}
.top-search.for-mobile {
    display: flex!important;
}
input[type=file] {
    overflow: hidden;
    width: 200px;
}
#HTMLBlock, #header {
    width: 100%}
#header {
    height: 160px;
}
#footer {
    width: calc(100% - 40px);
}
#ActionBlock.LeftStyle, #header .contactsTop .col__left p, #header .contactsTop .detailed__contacts, #header .contactsTop .mode .mode__icon__text, #header .contactsTop .seeOurWork, #header .contactsTop p.phone__white, #header .whereCart .discount, #leftUh, #rightUh, .bottom-link-wrap a.frstgrch, .menu-mobile>div>a.active>span, .nivo-controlNav, .pagging .slider_run div.pages_sell>div.slider, .ramka.nivoSlider, .razd.for-mobile, .whereCart .links>span, div#jivo-iframe-container.jivo-iframe-container-bottom.jivo-expanded, div.bc_cont:hover div.bc_popup_cont, div.htmlblock_shadow, span.corp_small_img {
    display: none!important;
}
#header .contactsTop p.phone {
    display: block!important;
}
.topMenuIn>div.menu-mobile-link>a {
    width: 100%;
    color: #FFF;
    text-shadow: #558008 0 1px 0;
    padding-left: 40px!important;
}
.logo_cont {
    position: relative;
}
div.menu-mobile-link>a:after, div.menu-mobile>div>a:after {
    content: "";
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.topMenuIn>div i[class^=fontico] {
    display: none;
}
div.menu-mobile-link>a:after {
    background-image: url(/i/mobileicons/ic_menu.png);
}
div.menu-mobile>div:nth-child(1)>a:after {
    background-image: url(/i/mobileicons/ic_actions.png);
}
div.menu-mobile>div:nth-child(3)>a:after {
    background-image: url(/i/mobileicons/ic_gifts.png);
    background-size: 18px;
    background-position-x: 11px;
}
div.menu-mobile>div:nth-child(5)>a:after {
    background-image: url(/i/mobileicons/ic_discounts.png);
    background-size: 22px;
    background-position-x: 9px;
}
div.menu-mobile>div:nth-child(7)>a:after {
    background-image: url(/i/mobileicons/ic_contacts.png);
    background-size: 16px;
    background-position-x: 11px;
}
div.menu-mobile>div:nth-child(9)>a:after {
    background-image: url(/i/mobileicons/ic_delivery.png);
}
div.menu-mobile>div:nth-child(11)>a:after {
    background-image: url(/i/mobileicons/ic_payment.png);
    background-size: 22px;
}
div.menu-mobile>div:nth-child(12)>a:after {
    background-image: url(/i/mobileicons/ic_ind-order.png);
    background-size: 16px;
    background-position-x: 12px;
}
div.menu-mobile>div:nth-child(14)>a:after {
    background-image: url(/i/mobileicons/ic_create.png);
}
div.menu-mobile>div:nth-child(16)>a:after {
    background-image: url(/i/mobileicons/ic_season.png);
}
#header a.logo {
    left: 10px;
    top: 20px;
    width: 150px;
    height: 65px;
    background-size: cover;
}
#header .contactsTop {
    left: 0;
    width: calc(100% - 2px);
    height: 60px;
    top: 90px;
}
#header .contactsTop .col__left {
    position: relative;
    width: 100%}
#header .contactsTop p.phone {
    position: absolute;
    left: 15px;
    top: 10px;
}
#header .contactsTop p.phone.letter-spacing {
    top: 37px;
}
#header .whereCart {
    top: 20px;
    right: 15px;
}
#header .howMuchItem {
    margin-top: -3px;
}
.cart a:active, .cart a:link, .cart a:visited {
    padding-left: 24px;
}
.contactsTop .row {
    position: absolute;
    top: 32px;
    left: 190px;
}
#header .contactsTop .instagram {
    background-position: -2px -3841px;
    width: 28px;
}
#header .contactsTop .contacts__icons {
    position: absolute;
    left: 220px;
    top: 32px;
}
#header .contactsTop .contacts__icons span {
    height: 23px;
}
#header .contactsTop .col__right {
    position: absolute;
    top: -32px;
    left: 0;
    width: 100%;
    float: none;
}
#topMenu {
    padding: 0 10px;
}
.topMenuIn {
    position: relative;
    z-index: 88;
}
div.topMenu2 {
    padding: 0 0 10px;
    position: relative;
    z-index: 10;
}
.menu-mobile>div>a.active:active, .menu-mobile>div>a.active:link, .menu-mobile>div>a.active:visited, .menu-mobile>div>a:hover, .topMenuIn>div>a.active:active, .topMenuIn>div>a.active:link, .topMenuIn>div>a.active:visited, .topMenuIn>div>a:hover {
    text-align: left;
    padding-left: 10px;
}
.menu-mobile>div>a.active:link, .menu-mobile>div>a:active, .menu-mobile>div>a:link, .menu-mobile>div>a:visited, .topMenuIn>div>a:active, .topMenuIn>div>a:link, .topMenuIn>div>a:visited {
    text-align: left;
    padding-left: 40px;
}
.menu-mobile-link {
    display: inline-block!important;
    width: calc(50% - 20px);
}
.topMenuIn>.razd, div.topMenuIn>div {
    display: inline-block;
    vertical-align: middle;
}
.topMenuIn>div:first-child>a:active, .topMenuIn>div:first-child>a:link, .topMenuIn>div:first-child>a:visited {
    width: auto;
}
div.topMenuIn>div.bc_cont {
    width: calc(50% - 35px)!important;
}
div.topMenuIn>.menu-mobile {
    display: none;
    position: absolute;
    right: 28px;
    width: calc(50% - 0);
    z-index: 10;
}
#my-amount, .payment {
    position: relative;
}
div.topMenuIn>.menu-mobile>div>a {
    text-align: left;
    padding-left: 40px;
}
.menu-mobile>.razd {
    display: none;
}
div.menu-mobile>div {
    display: block;
    width: 100%}
div.menu-mobile>div>a {
    display: block!important;
    width: calc(100% - 20px)!important;
}
.no_results_text .window_info.in_body {
    width: 90%;
    min-width: 0;
}
#content {
    margin: 0 10px;
}
#content .leftBlock, #content .rightBlock, .contentBlock {
    width: 100%;
    display: block;
}
.contentBlock {
    padding: 10px 0;
}
#content .rightBlock {
    padding-top: 2px;
    background: #e3eebf;
    border-left: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mainText {
    margin: 0 0 10px;
}
.contentBlock>#content-data>div.ramka {
    display: none;
}
.catalog .catalogItem {
    width: calc(50% - 29px);
}
.catalogItem .imgs {
    margin: 0 auto;
}
.newsBlock .newsText img {
    height: auto!important;
}
.payment {
    padding: 20px 10px;
    width: calc(100% - 20px);
    text-align: center;
}
.payment img {
    margin-left: 10px;
    margin-right: 10px;
}
.setable_filters td {
    display: block;
    width: 100%}
.order_and_limits {
    width: 100%}
div.setable_filters div.order_and_limits>div {
    width: 45%;
    display: inline-block;
}
.login_another_links>table {
    width: auto;
}
.login_another_links>table td:nth-child(2) {
    padding: 0 5px;
}
#slideTop {
    top: 3px;
    left: 3px;
    background: url(/i/up-mobile.png) 50% 50% no-repeat rgba(255, 255, 255, 0);
    width: 32px;
    height: 32px;
}
.floatLeft, .floatRight {
    float: none;
}
.blockImg.floatLeft {
    float: left;
}
.blockInfo.floatRight {
    float: right;
}
.product .leftProd {
    margin: 0 auto;
}
.product .rightProd {
    margin: 0 auto;
    width: 100%}
div.top_link>ul>li>div {
    width: calc(100% - 50px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
.window_info {
    left: 10px!important;
    width: calc(100% - 20px);
}
.bouquet_long_life_1part_info, .what_that_give_info {
    width: calc(100% - 40px);
}
.bouquet_long_life_1part_info .text_block_cont>p>span {
    padding-left: 10px;
}
.delivery_info_tbl td {
    display: block;
    width: 100%}
.delivery_info_tbl td:nth-child(2) {
    text-align: left;
}
.corpForm input[type=text], .send_question_info input, textarea {
    width: 90%}
.createOrderBlock div.delivery_only_by_phone {
    width: 100px;
    margin-top: 10px;
    margin-right: 5px;
    z-index: 100;
}
.delivery_obp_inputs {
    padding-top: 10px;
}
span.deliv_spl_text {
    min-width: 100px;
}
.delivery_free_baner {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}
div.cupon_cont {
    background: 0;
}
div.cupon_cont div.cupon_input>input[type=text] {
    width: calc(100% - 30px);
}
div.basket_goon label {
    display: block;
}
.bigBlockWithButtonOk {
    max-height: none;
}
.bigBlockWithButtonOk td {
    display: block;
    text-align: left!important;
}
.bigBlockWithButtonOk .bigBlockCost {
    padding: 10px 0 10px 20px;
}
.createOrderBlock .bigInput input, .createOrderBlock .bigInput textarea {
    width: calc(100% - 20px);
}
.checkcheck span, .createOrderBlock div.extra_call_ch label span {
    padding-top: 3px;
    display: inline-block;
}
.div-relative>.checkcheck+.how_to_fill {
    right: -16px;
}
div.anonyms>div.tb_hover_popup {
    left: 0;
}
.sw-tabs .city_head, .sw-tabs .mkad_head, .sw-tabs .time_head, .sw-tabs td {
    font-size: 10px;
}
.actions-mobile .butn_orange {
    font-size: 20px;
    font-weight: 400;
    border-radius: 6px;
    margin-top: 4px;
}
#footer .left_footer, #footer .right_footer {
    width: 50%}
#quickOrderBlock {
    width: calc(100% - 40px);
}
#catItem_freeBlock_podkormka_cont {
    width: 300px;
}
.yashare-auto-init+* {
    display: none;
}
#popupRegistration {
    width: 100%}
#darkBack {
    width: 100%!important;
    height: 100%!important;
}
.gift_check>span {
    padding-top: 5px;
}
.cartItem.dopItem {
    line-height: 16px;
}
.freshness_text_info>div.text_block_cont, .rulles_of_services_info>div.text_block_cont {
    width: calc(100% - 10px);
}
div.disc_pop_link div.tb_hover_popup, div.disc_pop_linkos div.tb_hover_popup {
    left: 10px!important;
    right: auto!important;
}
.dis_text div.disc_pop_link div.tb_hover_popup {
    width: 110%!important;
    left: -30px!important;
}
.dis_text div.centered_hover_popup>div.tb_hover_popup>div.triagle {
    background-position: 220px bottom;
}
div.disc_pop_link div.tb_hover_popup div.text_block_cont>p>span>span>strong {
    font-size: 12px;
}
div.disc_pop_link div.tb_hover_popup .desc_present_link {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
}
.sw-tabs th, .table-orange-cells tr td {
    font-size: 10px;
}
#basket_items_cont table tr>td table.sw-box tr>td {
    display: inline-block;
}
.createBlock table tr, .pagging>a {
    display: block;
}
.window_info>div.presents_info {
    width: auto;
}
div.presents_page span.presents_items_list>span {
    width: 33%}
div.presents_page span.presents_items_list>span>span>img {
    max-width: 100%}
.mobile-flex {
    flex-wrap: wrap;
}
.mobile-flex.flex-100>* {
    width: 100%}
.mobile-flex.flex-50>* {
    width: 50%}
.contactsTime {
    text-align: left;
}
.table-blue-cells td, .table-blue-cells th, .table-orange-cells td, .table-orange-cells th {
    padding: 5px;
}
.kolvo, .kolvo>p, span.corp_info_block>span {
    font-size: 12px;
}
.payment-list>.opening-block>:first-child {
    width: 60px;
}
.payment-list>.opening-block>:last-child {
    width: calc(100% - 120px);
    padding-left: 10px;
    padding-right: 50px;
}
.payment-list>.opening-block>:last-child>span {
    font-size: 12px;
    line-height: 16px;
}
.new-form select {
    width: 100%}
#infomanual {
    line-height: 30px;
}
.logos-images.flex-50>*, .logos-images.trio>* {
    width: calc(50% - 30px);
}
.logos-images img, .mainTextInner p img {
    max-width: 100%!important;
}
.createOtviz .leftPart, .createOtviz .rightPart {
    width: 100%}
.createOtviz .rightPart textarea {
    width: calc(100% - 16px);
}
.createOtviz .leftPart .code {
    text-align: left!important;
    padding-right: 0;
}
.pagging div.pages>ul>li a, .pagging div.pages>ul>li span {
    min-width: 10px;
}
.pagging div.next_page, .pagging div.prev_page {
    padding: 0 4px;
    min-width: auto;
}
.pagging div.prev_page, div.corporate_clients>p.shadow.contacts {
    padding-left: 0;
}
.pagging div.next_page {
    padding-right: 0;
}
.num_item>span {
    vertical-align: top;
}
.check2 input[type=radio], .createBlock table td, tr.cat_item>td.description {
    vertical-align: middle;
}
.num_item>span:last-child {
    width: calc(100% - 37px);
}
span.corp_img_block {
    max-width: 100%;
    min-width: 50%;
    width: 50%}
span.corp_big_img {
    width: 90%}
span.corp_img_block>span.corp_big_img>img {
    max-width: 100%!important;
}
div.corporate_clients>p.shadow.contacts>a>img {
    max-width: 100%!important;
    height: auto!important;
}
#g-recaptcha, #rc-imageselect {
    transform: scale(.86);
    -webkit-transform: scale(.86);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
fieldset {
    width: 100%;
    min-width: 100%}
.listItem p {
    margin-left: 30px;
}
.bigTextarea, .review_form_info {
    width: 90%}
.adress input {
    width: 90%!important;
}
.review_form_info .content div.inputs>input, .review_form_info .content div.inputs>textarea {
    width: 100%!important;
}
.formBigTextarea textarea {
    width: calc(100% - 16px);
    margin-top: 3px;
}
.kolvo .newCost, .kolvo .oldCost, span.ctoc {
    font-size: 14px;
}
div.tit_count_items {
    position: relative;
    top: 0;
    right: auto;
    left: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}
span.ctoc {
    padding: 9px 10px;
}
.works-item .jcarousel-skin-tango {
    width: 100%!important;
    overflow: hidden;
}
div.love_story {
    width: calc(100% - 40px);
    background: 0;
    margin: 0;
    min-height: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}
div.love_story>p>span {
    color: #000;
    text-shadow: none;
}
div.love_story>p.bottom-ls-text>span:first-child>strong, div.love_story>p.top-ls-text>span>strong {
    color: #64960a;
}
div.love_story>p.top-ls-text {
    padding: 15px 0;
}
div.love_story>p.bottom-ls-text, div.love_story>p.over-ls-btext {
    padding: 0 0 15px;
}
.pay-instr>:nth-child(2n) {
    width: 50px;
}
.pay-instr>:nth-child(2n)>img {
    width: 40px!important;
}
.pay-instr>:nth-child(2n+1) {
    width: calc(100% - 60px);
    padding-right: 10px;
}
div.charity_banner_info {
    padding: 15px 0 20px;
    width: 100%}
.h1_alt, h1 {
    font-size: 24px;
}
.createBlock table td {
    display: inline-block;
}
.createBlock table td.tableText {
    display: block;
}
.changeVariant table td, div.top_link>ul>li {
    display: inline-block;
}
.createBlock .tableCol, .createBlock .tableCost {
    padding-left: 20px;
    width: auto!important;
}
#create-bouquet>div.bigBlockWithButtonOk>div.bigBlockCost {
    text-align: left;
    padding-right: 0;
    width: 99%}
.new_slider_page, .someSlideBlock, form#create-bouquet div.bigBlockWithButtonOk {
    text-align: center;
}
#popup .product {
    padding: 10px 0;
}
.formOrder .formMediumInputBlock {
    padding-top: 5px;
    padding-bottom: 5px;
}
.formMediumInputBlock input {
    margin-top: 3px;
    max-width: calc(100% - 16px);
}
.cartItem .name, .cartItem .tableCost {
    font-size: 14px;
}
#fast_baying_form div.counter_cont input[type=text], div.fast_search_popup tr.search_tbl_header, tr.cat_item>td.fast_search_actions span.butn_green, tr.cat_item>td.fast_search_prices>span.current_price {
    font-size: 12px;
}
.cartItem .tableCol {
    width: 78px!important;
}
.tableCol>input[type=text] {
    margin: 0 4px;
}
.basket_img_cont a>img {
    max-width: 100%!important;
}
div.top_link>ul>li {
    width: 31%}
#fast_baying_form tr.times_cont table {
    width: 100%;
    max-width: 100%}
#my-amount div.how_to_fill {
    position: static;
}
#my-amount div.how_to_fill div.tb_hover_popup {
    width: 100%;
    left: -10px;
    top: 44px;
}
#basket-issue div.how_to_fill div.tb_hover_popup {
    width: 200px;
}
#basket-issue div.how_to_fill #tb_phone_cont.tb_hover_popup {
    width: 230px;
}
#basket-issue div.how_to_fill #extra_call_cont.tb_hover_popup {
    width: 120px;
}
#basket-issue div.how_to_fill #by_phone_only_cont.tb_hover_popup, #basket-issue div.how_to_fill #del_over_mkad_pop_cont.tb_hover_popup, #basket-issue div.how_to_fill #tb_delivery_and_getting_cont.tb_hover_popup {
    width: 200px;
    top: 24px;
    left: -180px;
}
#del_over_mkad_pop_cont.tb_hover_popup>div.triagle, #tb_delivery_and_getting_cont.tb_hover_popup>div.triagle, div.how_to_fill>#by_phone_only_cont.tb_hover_popup>div.triagle {
    top: -10px;
    left: calc(100% - 37px);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#basket-issue div.how_to_fill #tb_foto_cont.tb_hover_popup, #basket-issue div.how_to_fill #tb_nocall_cont.tb_hover_popup {
    width: 250px;
    top: -10px;
    left: -278px;
}
div.how_to_fill>#tb_foto_cont.tb_hover_popup>div.triagle, div.how_to_fill>#tb_nocall_cont.tb_hover_popup>div.triagle {
    left: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#my-amount div.how_to_fill>div.tb_hover_popup>div.triagle {
    width: 13px;
    height: 8px;
    background: url(/i/triagle_top.png) top left no-repeat;
    left: 50%;
    top: -8px;
    margin-left: -3px;
}
#my-amount .del_info>div {
    padding: 10px 15px;
}
#my-amount input[name=amount] {
    width: calc(50% - 26px);
}
ul.new_slider_line {
    padding: 0 16px;
}
div.page_slider .new_slider_page ul.new_slider_line>li {
    padding: 4px 3px;
}
.cartItem.blockWithTopLine.dopItem {
    padding-left: 20px;
}
.cartItem.blockWithTopLine.dopItem>span:first-child {
    width: calc(100% - 100px)!important;
    vertical-align: middle;
}
#delcalc.window_info>div {
    padding: 10px;
}
#delcalc .closeNew {
    margin: 5px;
}
.delcalc_text_info span.title {
    background-position: calc(50% - 145px) center;
    padding-left: 20px;
}
.delcalc_text_info .text_block_cont {
    padding: 0;
}
.leftInfo div.catItem_freeBlock>div {
    padding: 0;
    margin: 5px 0 0;
}
.check2 div>label {
    min-height: 20px;
}
.check2 span.over_mkad_inf_cont {
    position: relative;
}
.oplataBlock .liBlock .pLine {
    display: inline;
}
.product .rightProd h1 {
    text-align: center;
    padding-top: 15px;
}
.someSlideBlock .jcarousel-container {
    margin: 0 auto;
}
div.top_link>ul>li>div {
    top: 85px;
}
div.top_link>ul>li>div>ul>li {
    height: auto;
}
div.top_link>ul>li#box1>div>b.marker {
    left: calc(16.65% - 0);
}
div.top_link>ul>li#box2>div>b.marker {
    left: calc(50% - 2px);
}
#create-bouquet>div.bigBlockWithButtonOk>a {
    display: inline-block;
}
.find.find-mobile, .rightBlock .find {
    width: calc(100% - 8px);
}
div.fast_search_popup {
    right: auto;
    left: -101px;
    width: calc(100%+86px);
    border-radius: 10px;
    white-space: normal;
}
div.fast_search_popup td, div.fast_search_popup th {
    width: auto;
}
#baner_slider {
    width: 93%!important;
}
.ramka {
    width: 96%!important;
}
}
@media screen and (orientation:landscape) and (max-width:480px) {
    #header .contactsTop .mode {
    display: none!important;
}
.catalog .catalogItem {
    width: calc(50% - 29px);
}
#header {
    height: 95px;
}
#header .contactsTop {
    top: 25px;
    left: 163px;
    width: calc(100% - 300px);
}
#openTopContactsBlockLestener {
    right: auto;
    left: 190px;
}
.zakazZvonkaTop {
    right: 46px;
    top: 26px;
}
.delivery-icons.flex-50>* {
    width: 25%}
.rightBlock .activateCard, .rightBlock .blockWithTopLine2px, .rightMenuBlock {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
div.top_link {
    margin-bottom: 0;
    margin-top: 10px;
}
div.top_link>ul {
    margin-left: 10px;
}
div.top_link>ul>li#box1>div>b.marker {
    left: calc(16.65% - 14px);
}
div.top_link>ul>li#box2>div>b.marker {
    left: calc(50% - 7px);
}
}
@media screen and (orientation:portrait) and (max-width:480px) {
    .ifr_wrap, .link_wrap {
    float: none;
}
.gift_check, .ifr_wrap {
    text-align: center;
}
.gift_img>img, .payment_types>* label>span>img {
    max-width: 100%}
#header .contactsTop .mode {
    margin-top: 0;
    position: absolute;
    left: 185px;
    top: 47px;
}
.gift_price_btn>div+div, .skidki.cardActiv input+input, div.mix-info .rightInfo {
    margin-top: 10px;
}
.catalog .catalogItem {
    width: calc(50% - 29px);
}
.catalogItem .cost .newCost {
    font-size: 14px;
}
.cartItem .name, .cartItem .tableCost, .catalogItem .cost .oldCost {
    font-size: 13px;
}
#openTopContactsBlockLestener {
    left: auto;
    right: 15px;
}
.zakazZvonkaTop {
    right: 12px;
    top: 26px;
}
#header .contactsTop .contacts__icons {
    left: auto;
    right: 15px;
}
.contactsTop .row {
    left: auto;
    right: 54px;
}
.payment {
    padding: 20px 10px 10px;
}
.payment img {
    margin-bottom: 10px;
}
.bwt-wrap {
    background: 0;
}
.link_wrap {
    margin-left: 0;
    width: 100%}
.bottom-link-wrap a.frstgrch+a img {
    height: 70px;
}
.basket_img_cont {
    width: 80px!important;
}
.basket_img_cont a>img {
    width: 100%!important;
}
.tableText {
    padding: 0 16px 0 0;
}
td.basket_img_cont div.shared_items {
    width: 44px;
    height: 44px;
    background-size: cover;
}
.createOrderBlock .borderRight {
    border-right: 0;
    margin-right: 0;
}
.giftCartItem, .giftCartItem>* {
    margin-left: auto;
    margin-right: auto;
}
.gift_price_btn>div {
    display: block;
}
.giftCartItem {
    display: inline-block;
    width: 31%;
    margin-bottom: 20px;
}
.gifts>div>label {
    width: 100%}
.payment_types>*, .payment_types>.bigPayment {
    width: 100%!important;
}
.payment_types>* label {
    width: 100%;
    text-align: left;
}
.payment_types>* label>* {
    display: inline-block;
    vertical-align: middle;
}
.payment_types>* label>span {
    width: 25%;
    text-align: center;
}
.payment_types>* label>b {
    width: calc(75% - 10px);
}
.payment_types>* label>b input {
    margin-right: 5px;
}
.payment_types>* label>b span {
    width: auto;
}
.sw-tab li:first-child {
    margin-right: 0!important;
}
sup {
    display: none;
}
.link_wrap {
    margin: 0 auto;
}
div.top_link {
    text-align: center;
    height: 90px;
}
div.top_link>ul>li {
    height: 80px;
}
.bottom-link-wrap {
    text-align: center;
    margin-bottom: 10px;
}
.bottom-link-wrap a {
    float: none;
    display: inline;
    margin: 0 auto;
}
.fast_baying_info>table>tbody>tr>td {
    display: block;
}
.fast_baying_info>table>tbody>tr>td:first-child {
    margin-top: 5px;
    margin-bottom: 1px;
}
#fast_baying_form .input_label.cur_time {
    width: 60px;
    margin: 0 2px 0 10px;
}
.cup_block>div {
    min-height: 80px;
}
.cup_block>div, .cup_block>div.basket_goon {
    display: block;
    width: calc(100% - 30px);
}
div.cupon_cont>span.active_cupon {
    margin: 0 auto;
}
.cup_block>div.basket_goon {
    width: calc(100% - 115px);
    margin-left: 85px;
}
div.basket_goon {
    background: 0;
}
.delcalc_text_info .del-price {
    display: none!important;
}
.skidki-card-flex {
    flex-direction: column-reverse;
    margin-top: 20px;
}
}
@media screen and (max-width:480px) {
    .basket_breadcrumbs>div {
        text-align: center;
    }
    .basket_breadcrumbs>div>span.text {
        display: none;
    }
    div.mix-info>div {
        display: block;
    }
    div.mix-info+div.mix-info>div {
        display: table-cell;
    }
    #inst_photos, .instBlock, .product ~ .someSlideBlock {
        display: none!important;
    }
    div.top_link>ul>li#box1>div>b.marker {
        left: calc(16.65% - 10px);
    }
    .swiper-pagination-clickable .swiper-pagination-bullet {
        width: 17px;
        height: 17px;
        transform: scale(0.7);
    }
    .swiper-pagination {
        margin-top: 10px;
    }
}
@media screen and (max-width:400px) {
    #baner_slider {
    width: 92%!important;
}
}
@media screen and (max-width:340px) {
    div.mix-info+div.mix-info>div {
    display: block;
}
div.mix-info+div.mix-info>div .cart_banner_charity {
    padding-left: 0!important;
    margin-top: 15px!important;
}
#create-bouquet>div.bigBlockWithButtonOk>div {
    display: inline-block;
}
.skidki-card-flex {
    flex-direction: column-reverse;
    margin-top: 20px;
}
#header .contactsTop .mode {
    display: none;
}
.catalog .catalogItem {
    width: calc(100% - 34px);
}
.delcalc_text_info span.title {
    background-position: calc(50% - 100px) center;
    padding-left: 20px;
}
.del-selects .radios, .del-selects .radios .radio {
    height: auto;
}
.radio.city.mkad>label {
    display: block;
}
.fast_search_popup .fast_search_res_img img {
    width: 30px;
}
.fast_search_popup tr.cat_item>td.description, tr.cat_item>td.fast_search_prices>span.current_price {
    font-size: 10px;
}
.actions-mobile .butn_orange {
    display: none;
}
.createOrderBlock .h2_alt, .createOrderBlock h2 {
    padding-left: 5px;
    padding-right: 5px;
}
.h2_alt, .h3_alt, h2, h3, h4 {
    font-size: 15px;
}
#basket-issue div.how_to_fill #tb_phone_cont.tb_hover_popup, #basket-issue div.how_to_fill div.tb_hover_popup {
    width: 180px;
}
.checkcheck span {
    display: inline;
    padding-left: 5px;
}
.createOrderBlock .h2_alt+.gray {
    display: inline-block;
}
#baner_slider {
    width: 89%!important;
}
}
