@charset "utf-8";
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 536px;
    padding: 20px 15px;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  536px;
    height: 116px;
}
.jcarousel-skin-tango .jcarousel-item {
    width: 128px;
    height: 116px;
	background:none;
	margin:0;
	padding:0 3px;
	position:relative;
}
.jcarousel-skin-tango .jcarousel-item span {
	position:absolute;
	background:#dbff98;
	color:#000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	padding:2px 4px;
	opacity:0.8;
	right:2px;
	bottom:2px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 0;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 40px;
    right: -15px;
    width: 23px;
    height: 77px;
    cursor: pointer;
    background: transparent url(next-horizontal.jpg) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.jpg);
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    opacity:0.8;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    opacity:0.7;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    opacity:0.5;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 40px;
    left: -15px;
    width: 23px;
    height: 77px;
    cursor: pointer;
    background: transparent url(prev-horizontal.jpg) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.jpg);
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    opacity:0.8;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    opacity:0.7;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity:0.5;
}

/*----------------------------------------------------------------------------------------------*/
/*- маленькая галерея -*/
.jcarousel-skin-tangoSm .jcarousel-container-horizontal {
    width: 168px;
    padding: 20px 16px;
}
.jcarousel-skin-tangoSm .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tangoSm .jcarousel-clip-horizontal {
    width:  168px;
    height: 70px;
}
.jcarousel-skin-tangoSm .jcarousel-item {
    width: 70px;
    height: 70px;
	background:none;
	margin:0;
	padding:0 7px;
	position:relative;
}
.jcarousel-skin-tangoSm .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 0;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tangoSm .jcarousel-next-horizontal {
    position: absolute;
    top: 18px;
    right: -10px;
    width: 23px;
    height: 77px;
    cursor: pointer;
    background: transparent url(next-horizontal.jpg) no-repeat 0 0;
}
.jcarousel-skin-tangoSm .jcarousel-next-horizontal:hover,
.jcarousel-skin-tangoSm .jcarousel-next-horizontal:focus {
    opacity:0.8;
}
.jcarousel-skin-tangoSm .jcarousel-next-horizontal:active {
    opacity:0.7;
}
.jcarousel-skin-tangoSm .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tangoSm .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tangoSm .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tangoSm .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    opacity:0.5;
}
.jcarousel-skin-tangoSm .jcarousel-prev-horizontal {
    position: absolute;
    top: 18px;
    left: -10px;
    width: 23px;
    height: 77px;
    cursor: pointer;
    background: transparent url(prev-horizontal.jpg) no-repeat 0 0;
}
.jcarousel-skin-tangoSm .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tangoSm .jcarousel-prev-horizontal:focus {
    opacity:0.8;
}
.jcarousel-skin-tangoSm .jcarousel-prev-horizontal:active {
    opacity:0.7;
}
.jcarousel-skin-tangoSm .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tangoSm .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tangoSm .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tangoSm .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity:0.5;
}