.ui-tabs {
    position: relative;
}
.ui-helper-clearfix {
    display: block !important;
}
.ui-tabs .ui-tabs-nav {
	font-size:14px;
	display:block;
}
.ui-tabs .ui-tabs-nav li {
	display:inline-block;
    list-style: none outside none;
    position: relative;
    white-space: nowrap;
	background:#f4f8e7;
	border:1px solid #d7e7ba;
	margin:0;
	padding:2px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:2px 4px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #c1e283 !important;
    border: 1px solid #a9ce67 !important;
    color: #212121;
    font-weight: normal;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
	
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    text-decoration: none;
	color:#000;
}
.ui-tabs .ui-tabs-panel {
    display: block;
}
.ui-tabs .ui-tabs-panel p{
    margin:0 0 8px 0;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
