@font-face {
  font-family: 'icon-font';
  src: url('../font/icon-font.eot?59743938');
  src: url('../font/icon-font.eot?59743938#iefix') format('embedded-opentype'),
       url('../font/icon-font.woff?59743938') format('woff'),
       url('../font/icon-font.ttf?59743938') format('truetype'),
       url('../font/icon-font.svg?59743938#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon-font';
    src: url('../font/icon-font.svg?59743938#icon-font') format('svg');
  }
}
*/
 
 [class^="fontico-"]:before, [class*=" fontico-"]:before {
  font-family: "icon-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  /*width: 1em;*/
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fontico-spin5:before { content: '\e800'; } /* '' */
.fontico-spin4:before { content: '\e801'; } /* '' */
.fontico-spin3:before { content: '\e802'; } /* '' */
.fontico-spin2:before { content: '\e803'; } /* '' */
.fontico-spin1:before { content: '\e804'; } /* '' */
.fontico-chrome:before { content: '\e805'; } /* '' */
.fontico-firefox:before { content: '\e806'; } /* '' */
.fontico-spin6:before { content: '\e807'; } /* '' */
.fontico-star:before { content: '\e808'; } /* '' */
.fontico-star-empty:before { content: '\e809'; } /* '' */
.fontico-star-half:before { content: '\e80a'; } /* '' */
.fontico-star-half-alt:before { content: '\e80b'; } /* '' */
.fontico-mail-alt:before { content: '\e80c'; } /* '' */
.fontico-mail:before { content: '\e80d'; } /* '' */
.fontico-mail-squared:before { content: '\e80e'; } /* '' */
.fontico-search:before { content: '\e80f'; } /* '' */
.fontico-th-list:before { content: '\e810'; } /* '' */
.fontico-ok:before { content: '\e811'; } /* '' */
.fontico-ok-circled:before { content: '\e812'; } /* '' */
.fontico-ok-circled2:before { content: '\e813'; } /* '' */
.fontico-ok-squared:before { content: '\e814'; } /* '' */
.fontico-cancel:before { content: '\e815'; } /* '' */
.fontico-cancel-circled:before { content: '\e816'; } /* '' */
.fontico-cancel-circled2:before { content: '\e817'; } /* '' */
.fontico-plus:before { content: '\e818'; } /* '' */
.fontico-plus-circled:before { content: '\e819'; } /* '' */
.fontico-plus-squared:before { content: '\e81a'; } /* '' */
.fontico-plus-squared-alt:before { content: '\e81b'; } /* '' */
.fontico-minus:before { content: '\e81c'; } /* '' */
.fontico-minus-circled:before { content: '\e81d'; } /* '' */
.fontico-minus-squared:before { content: '\e81e'; } /* '' */
.fontico-minus-squared-alt:before { content: '\e81f'; } /* '' */
.fontico-help:before { content: '\e820'; } /* '' */
.fontico-help-circled:before { content: '\e821'; } /* '' */
.fontico-home:before { content: '\e822'; } /* '' */
.fontico-info-circled:before { content: '\e823'; } /* '' */
.fontico-th:before { content: '\e824'; } /* '' */
.fontico-th-large:before { content: '\e825'; } /* '' */
.fontico-location:before { content: '\e826'; } /* '' */
.fontico-attention-circled:before { content: '\e827'; } /* '' */
.fontico-attention-alt:before { content: '\e828'; } /* '' */
.fontico-trash-empty:before { content: '\e829'; } /* '' */
.fontico-trash:before { content: '\e82a'; } /* '' */
.fontico-comment:before { content: '\e82b'; } /* '' */
.fontico-chat:before { content: '\e82c'; } /* '' */
.fontico-comment-empty:before { content: '\e82d'; } /* '' */
.fontico-chat-empty:before { content: '\e82e'; } /* '' */
.fontico-fax:before { content: '\e82f'; } /* '' */
.fontico-phone-squared:before { content: '\e830'; } /* '' */
.fontico-phone:before { content: '\e831'; } /* '' */
.fontico-folder-open-empty:before { content: '\e832'; } /* '' */
.fontico-folder-empty:before { content: '\e833'; } /* '' */
.fontico-folder-open:before { content: '\e834'; } /* '' */
.fontico-folder:before { content: '\e835'; } /* '' */
.fontico-file-powerpoint:before { content: '\e836'; } /* '' */
.fontico-menu:before { content: '\e837'; } /* '' */
.fontico-cog:before { content: '\e838'; } /* '' */
.fontico-cog-alt:before { content: '\e839'; } /* '' */
.fontico-wrench:before { content: '\e83a'; } /* '' */
.fontico-file-code:before { content: '\e83b'; } /* '' */
.fontico-sliders:before { content: '\e83c'; } /* '' */
.fontico-file-video:before { content: '\e83d'; } /* '' */
.fontico-file-audio:before { content: '\e83e'; } /* '' */
.fontico-file-archive:before { content: '\e83f'; } /* '' */
.fontico-file-image:before { content: '\e840'; } /* '' */
.fontico-basket:before { content: '\e841'; } /* '' */
.fontico-calendar:before { content: '\e842'; } /* '' */
.fontico-calendar-empty:before { content: '\e843'; } /* '' */
.fontico-login:before { content: '\e844'; } /* '' */
.fontico-logout:before { content: '\e845'; } /* '' */
.fontico-clock:before { content: '\e846'; } /* '' */
.fontico-block:before { content: '\e847'; } /* '' */
.fontico-resize-full:before { content: '\e848'; } /* '' */
.fontico-resize-full-alt:before { content: '\e849'; } /* '' */
.fontico-resize-small:before { content: '\e84a'; } /* '' */
.fontico-resize-horizontal:before { content: '\e84b'; } /* '' */
.fontico-move:before { content: '\e84c'; } /* '' */
.fontico-resize-vertical:before { content: '\e84d'; } /* '' */
.fontico-zoom-in:before { content: '\e84e'; } /* '' */
.fontico-zoom-out:before { content: '\e84f'; } /* '' */
.fontico-down-circled2:before { content: '\e850'; } /* '' */
.fontico-up-circled2:before { content: '\e851'; } /* '' */
.fontico-left-circled2:before { content: '\e852'; } /* '' */
.fontico-right-circled2:before { content: '\e853'; } /* '' */
.fontico-down-dir:before { content: '\e854'; } /* '' */
.fontico-up-dir:before { content: '\e855'; } /* '' */
.fontico-left-dir:before { content: '\e856'; } /* '' */
.fontico-right-dir:before { content: '\e857'; } /* '' */
.fontico-down-open:before { content: '\e858'; } /* '' */
.fontico-left-open:before { content: '\e859'; } /* '' */
.fontico-right-open:before { content: '\e85a'; } /* '' */
.fontico-up-open:before { content: '\e85b'; } /* '' */
.fontico-angle-left:before { content: '\e85c'; } /* '' */
.fontico-angle-right:before { content: '\e85d'; } /* '' */
.fontico-angle-up:before { content: '\e85e'; } /* '' */
.fontico-angle-down:before { content: '\e85f'; } /* '' */
.fontico-angle-circled-left:before { content: '\e860'; } /* '' */
.fontico-angle-circled-right:before { content: '\e861'; } /* '' */
.fontico-angle-circled-up:before { content: '\e862'; } /* '' */
.fontico-angle-circled-down:before { content: '\e863'; } /* '' */
.fontico-angle-double-left:before { content: '\e864'; } /* '' */
.fontico-angle-double-right:before { content: '\e865'; } /* '' */
.fontico-angle-double-up:before { content: '\e866'; } /* '' */
.fontico-angle-double-down:before { content: '\e867'; } /* '' */
.fontico-down:before { content: '\e868'; } /* '' */
.fontico-left:before { content: '\e869'; } /* '' */
.fontico-right:before { content: '\e86a'; } /* '' */
.fontico-up:before { content: '\e86b'; } /* '' */
.fontico-down-big:before { content: '\e86c'; } /* '' */
.fontico-left-big:before { content: '\e86d'; } /* '' */
.fontico-right-big:before { content: '\e86e'; } /* '' */
.fontico-up-big:before { content: '\e86f'; } /* '' */
.fontico-left-circled:before { content: '\e870'; } /* '' */
.fontico-right-circled:before { content: '\e871'; } /* '' */
.fontico-up-circled:before { content: '\e872'; } /* '' */
.fontico-down-circled:before { content: '\e873'; } /* '' */
.fontico-cw:before { content: '\e874'; } /* '' */
.fontico-ccw:before { content: '\e875'; } /* '' */
.fontico-arrows-cw:before { content: '\e876'; } /* '' */
.fontico-history:before { content: '\e877'; } /* '' */
.fontico-play:before { content: '\e878'; } /* '' */
.fontico-eject:before { content: '\e879'; } /* '' */
.fontico-laptop:before { content: '\e87a'; } /* '' */
.fontico-tablet:before { content: '\e87b'; } /* '' */
.fontico-mobile:before { content: '\e87c'; } /* '' */
.fontico-inbox:before { content: '\e87d'; } /* '' */
.fontico-globe:before { content: '\e87e'; } /* '' */
.fontico-sun:before { content: '\e87f'; } /* '' */
.fontico-cloud:before { content: '\e880'; } /* '' */
.fontico-leaf:before { content: '\e881'; } /* '' */
.fontico-align-left:before { content: '\e882'; } /* '' */
.fontico-align-center:before { content: '\e883'; } /* '' */
.fontico-align-right:before { content: '\e884'; } /* '' */
.fontico-align-justify:before { content: '\e885'; } /* '' */
.fontico-list:before { content: '\e886'; } /* '' */
.fontico-indent-left:before { content: '\e887'; } /* '' */
.fontico-indent-right:before { content: '\e888'; } /* '' */
.fontico-list-bullet:before { content: '\e889'; } /* '' */
.fontico-list-numbered:before { content: '\e88a'; } /* '' */
.fontico-off:before { content: '\e88b'; } /* '' */
.fontico-asterisk:before { content: '\e88c'; } /* '' */
.fontico-certificate:before { content: '\e88d'; } /* '' */
.fontico-floppy:before { content: '\e88e'; } /* '' */
.fontico-sort-name-up:before { content: '\e88f'; } /* '' */
.fontico-sort-name-down:before { content: '\e890'; } /* '' */
.fontico-sort-number-up:before { content: '\e891'; } /* '' */
.fontico-sort-number-down:before { content: '\e892'; } /* '' */
.fontico-euro:before { content: '\e893'; } /* '' */
.fontico-dollar:before { content: '\e894'; } /* '' */
.fontico-rouble:before { content: '\e895'; } /* '' */
.fontico-truck:before { content: '\e896'; } /* '' */
.fontico-toggle-on:before { content: '\e897'; } /* '' */
.fontico-toggle-off:before { content: '\e898'; } /* '' */
.fontico-check:before { content: '\e899'; } /* '' */
.fontico-check-empty:before { content: '\e89a'; } /* '' */
.fontico-circle:before { content: '\e89b'; } /* '' */
.fontico-circle-empty:before { content: '\e89c'; } /* '' */
.fontico-circle-thin:before { content: '\e89d'; } /* '' */
.fontico-circle-notch:before { content: '\e89e'; } /* '' */
.fontico-dot-circled:before { content: '\e89f'; } /* '' */
.fontico-ellipsis-vert:before { content: '\e8a0'; } /* '' */
.fontico-ellipsis:before { content: '\e8a1'; } /* '' */
.fontico-sort:before { content: '\e8a2'; } /* '' */
.fontico-sort-down:before { content: '\e8a3'; } /* '' */
.fontico-sort-up:before { content: '\e8a4'; } /* '' */
.fontico-sort-alt-down:before { content: '\e8a5'; } /* '' */
.fontico-spinner:before { content: '\e8a6'; } /* '' */
.fontico-sitemap:before { content: '\e8a7'; } /* '' */
.fontico-puzzle:before { content: '\e8a8'; } /* '' */
.fontico-shield:before { content: '\e8a9'; } /* '' */
.fontico-database:before { content: '\e8aa'; } /* '' */
.fontico-calc:before { content: '\e8ab'; } /* '' */
.fontico-cc-mastercard:before { content: '\e8ac'; } /* '' */
.fontico-cc-visa:before { content: '\e8ad'; } /* '' */
.fontico-cc-discover:before { content: '\e8ae'; } /* '' */
.fontico-cc-amex:before { content: '\e8af'; } /* '' */
.fontico-cc-paypal:before { content: '\e8b0'; } /* '' */
.fontico-cc-stripe:before { content: '\e8b1'; } /* '' */
.fontico-android:before { content: '\e8b2'; } /* '' */
.fontico-facebook:before { content: '\e8b3'; } /* '' */
.fontico-facebook-squared:before { content: '\e8b4'; } /* '' */
.fontico-google:before { content: '\e8b5'; } /* '' */
.fontico-gplus:before { content: '\e8b6'; } /* '' */
.fontico-gplus-squared:before { content: '\e8b7'; } /* '' */
.fontico-pagelines:before { content: '\e8b8'; } /* '' */
.fontico-skype:before { content: '\e8b9'; } /* '' */
.fontico-vkontakte:before { content: '\e8ba'; } /* '' */
.fontico-tumblr-squared:before { content: '\e8bb'; } /* '' */
.fontico-twitter-squared:before { content: '\e8bc'; } /* '' */
.fontico-twitter:before { content: '\e8bd'; } /* '' */
.fontico-tumblr:before { content: '\e8be'; } /* '' */
.fontico-search-1:before { content: '\e8bf'; } /* '' */
.fontico-mail-1:before { content: '\e8c0'; } /* '' */
.fontico-flashlight:before { content: '\e8c1'; } /* '' */
.fontico-heart:before { content: '\e8c2'; } /* '' */
.fontico-heart-empty:before { content: '\e8c3'; } /* '' */
.fontico-star-1:before { content: '\e8c4'; } /* '' */
.fontico-star-empty-1:before { content: '\e8c5'; } /* '' */
.fontico-user:before { content: '\e8c6'; } /* '' */
.fontico-users:before { content: '\e8c7'; } /* '' */
.fontico-user-add:before { content: '\e8c8'; } /* '' */
.fontico-picture:before { content: '\e8c9'; } /* '' */
.fontico-camera:before { content: '\e8ca'; } /* '' */
.fontico-layout:before { content: '\e8cb'; } /* '' */
.fontico-menu-1:before { content: '\e8cc'; } /* '' */
.fontico-check-1:before { content: '\e8cd'; } /* '' */
.fontico-cancel-1:before { content: '\e8ce'; } /* '' */
.fontico-cancel-circled-1:before { content: '\e8cf'; } /* '' */
.fontico-cancel-squared:before { content: '\e8d0'; } /* '' */
.fontico-plus-1:before { content: '\e8d1'; } /* '' */
.fontico-plus-circled-1:before { content: '\e8d2'; } /* '' */
.fontico-plus-squared-1:before { content: '\e8d3'; } /* '' */
.fontico-minus-1:before { content: '\e8d4'; } /* '' */
.fontico-minus-circled-1:before { content: '\e8d5'; } /* '' */
.fontico-minus-squared-1:before { content: '\e8d6'; } /* '' */
.fontico-help-1:before { content: '\e8d7'; } /* '' */
.fontico-help-circled-1:before { content: '\e8d8'; } /* '' */
.fontico-info-circled-1:before { content: '\e8d9'; } /* '' */
.fontico-home-1:before { content: '\e8da'; } /* '' */
.fontico-attach:before { content: '\e8db'; } /* '' */
.fontico-eye:before { content: '\e8dc'; } /* '' */
.fontico-tag:before { content: '\e8dd'; } /* '' */
.fontico-bookmark:before { content: '\e8de'; } /* '' */
.fontico-bookmarks:before { content: '\e8df'; } /* '' */
.fontico-thumbs-up:before { content: '\e8e0'; } /* '' */
.fontico-thumbs-down:before { content: '\e8e1'; } /* '' */
.fontico-download:before { content: '\e8e2'; } /* '' */
.fontico-upload:before { content: '\e8e3'; } /* '' */
.fontico-comment-1:before { content: '\e8e4'; } /* '' */
.fontico-chat-1:before { content: '\e8e5'; } /* '' */
.fontico-location-1:before { content: '\e8e6'; } /* '' */
.fontico-phone-1:before { content: '\e8e7'; } /* '' */
.fontico-cog-1:before { content: '\e8e8'; } /* '' */
.fontico-tools:before { content: '\e8e9'; } /* '' */
.fontico-basket-1:before { content: '\e8ea'; } /* '' */
.fontico-clock-1:before { content: '\e8eb'; } /* '' */
.fontico-left-circled-1:before { content: '\e8ec'; } /* '' */
.fontico-right-circled-1:before { content: '\e8ed'; } /* '' */
.fontico-up-circled-1:before { content: '\e8ee'; } /* '' */
.fontico-down-open-1:before { content: '\e8ef'; } /* '' */
.fontico-left-open-1:before { content: '\e8f0'; } /* '' */
.fontico-right-open-1:before { content: '\e8f1'; } /* '' */
.fontico-up-open-1:before { content: '\e8f2'; } /* '' */
.fontico-down-open-mini:before { content: '\e8f3'; } /* '' */
.fontico-left-open-mini:before { content: '\e8f4'; } /* '' */
.fontico-right-open-mini:before { content: '\e8f5'; } /* '' */
.fontico-up-open-mini:before { content: '\e8f6'; } /* '' */
.fontico-down-open-big:before { content: '\e8f7'; } /* '' */
.fontico-left-open-big:before { content: '\e8f8'; } /* '' */
.fontico-right-open-big:before { content: '\e8f9'; } /* '' */
.fontico-up-open-big:before { content: '\e8fa'; } /* '' */
.fontico-arrow-combo:before { content: '\e8fb'; } /* '' */
.fontico-down-circled-1:before { content: '\e8fc'; } /* '' */
.fontico-left-1:before { content: '\e8fd'; } /* '' */
.fontico-right-1:before { content: '\e8fe'; } /* '' */
.fontico-up-1:before { content: '\e8ff'; } /* '' */
.fontico-down-dir-1:before { content: '\e900'; } /* '' */
.fontico-left-dir-1:before { content: '\e901'; } /* '' */
.fontico-right-dir-1:before { content: '\e902'; } /* '' */
.fontico-up-dir-1:before { content: '\e903'; } /* '' */
.fontico-down-bold:before { content: '\e904'; } /* '' */
.fontico-left-bold:before { content: '\e905'; } /* '' */
.fontico-right-bold:before { content: '\e906'; } /* '' */
.fontico-up-bold:before { content: '\e907'; } /* '' */
.fontico-down-thin:before { content: '\e908'; } /* '' */
.fontico-left-thin:before { content: '\e909'; } /* '' */
.fontico-right-thin:before { content: '\e90a'; } /* '' */
.fontico-up-thin:before { content: '\e90b'; } /* '' */
.fontico-ccw-1:before { content: '\e90c'; } /* '' */
.fontico-down-1:before { content: '\e90d'; } /* '' */
.fontico-cw-1:before { content: '\e90e'; } /* '' */
.fontico-list-1:before { content: '\e90f'; } /* '' */
.fontico-list-add:before { content: '\e910'; } /* '' */
.fontico-monitor:before { content: '\e911'; } /* '' */
.fontico-back-in-time:before { content: '\e912'; } /* '' */
.fontico-mobile-1:before { content: '\e913'; } /* '' */
.fontico-leaf-1:before { content: '\e914'; } /* '' */
.fontico-dot:before { content: '\e915'; } /* '' */
.fontico-dot-2:before { content: '\e916'; } /* '' */
.fontico-dot-3:before { content: '\e917'; } /* '' */
.fontico-credit-card:before { content: '\e918'; } /* '' */
.fontico-floppy-1:before { content: '\e919'; } /* '' */
.fontico-key:before { content: '\e91a'; } /* '' */
.fontico-vimeo:before { content: '\e91b'; } /* '' */
.fontico-vimeo-circled:before { content: '\e91c'; } /* '' */
.fontico-twitter-1:before { content: '\e91d'; } /* '' */
.fontico-twitter-circled:before { content: '\e91e'; } /* '' */
.fontico-facebook-1:before { content: '\e91f'; } /* '' */
.fontico-facebook-circled:before { content: '\e920'; } /* '' */
.fontico-facebook-squared-1:before { content: '\e921'; } /* '' */
.fontico-gplus-1:before { content: '\e922'; } /* '' */
.fontico-gplus-circled:before { content: '\e923'; } /* '' */
.fontico-pinterest:before { content: '\e924'; } /* '' */
.fontico-pinterest-circled:before { content: '\e925'; } /* '' */
.fontico-skype-1:before { content: '\e926'; } /* '' */
.fontico-skype-circled:before { content: '\e927'; } /* '' */
.fontico-sweden:before { content: '\e928'; } /* '' */
.fontico-th-list-1:before { content: '\e929'; } /* '' */
.fontico-th-1:before { content: '\e92a'; } /* '' */
.fontico-ok-1:before { content: '\e92b'; } /* '' */
.fontico-cancel-2:before { content: '\e92c'; } /* '' */
.fontico-cancel-circle:before { content: '\e92d'; } /* '' */
.fontico-plus-2:before { content: '\e92e'; } /* '' */
.fontico-thumbs-down-1:before { content: '\e92f'; } /* '' */
.fontico-thumbs-up-1:before { content: '\e930'; } /* '' */
.fontico-tag-1:before { content: '\e931'; } /* '' */
.fontico-user-1:before { content: '\e932'; } /* '' */
.fontico-search-2:before { content: '\e933'; } /* '' */
.fontico-mail-2:before { content: '\e934'; } /* '' */
.fontico-basket-alt:before { content: '\e935'; } /* '' */
.fontico-basket-2:before { content: '\e936'; } /* '' */
.fontico-trash-1:before { content: '\e937'; } /* '' */
.fontico-info:before { content: '\e938'; } /* '' */
.fontico-question:before { content: '\e939'; } /* '' */
.fontico-clock-2:before { content: '\e93a'; } /* '' */
.fontico-clock-alt:before { content: '\e93b'; } /* '' */
.fontico-zoom-in-1:before { content: '\e93c'; } /* '' */
.fontico-zoom-out-1:before { content: '\e93d'; } /* '' */
.fontico-search-3:before { content: '\e93e'; } /* '' */
.fontico-mail-3:before { content: '\e93f'; } /* '' */
.fontico-star-2:before { content: '\e940'; } /* '' */
.fontico-star-empty-2:before { content: '\e941'; } /* '' */
.fontico-star-half-1:before { content: '\e942'; } /* '' */
.fontico-star-half_empty:before { content: '\e943'; } /* '' */
.fontico-user-2:before { content: '\e944'; } /* '' */
.fontico-user-male:before { content: '\e945'; } /* '' */
.fontico-user-female:before { content: '\e946'; } /* '' */
.fontico-users-1:before { content: '\e947'; } /* '' */
.fontico-menu-2:before { content: '\e948'; } /* '' */
.fontico-th-thumb:before { content: '\e949'; } /* '' */
.fontico-th-thumb-empty:before { content: '\e94a'; } /* '' */
.fontico-th-list-2:before { content: '\e94b'; } /* '' */
.fontico-ok-2:before { content: '\e94c'; } /* '' */
.fontico-ok-circled-1:before { content: '\e94d'; } /* '' */
.fontico-cancel-3:before { content: '\e94e'; } /* '' */
.fontico-cancel-circled-2:before { content: '\e94f'; } /* '' */
.fontico-plus-3:before { content: '\e950'; } /* '' */
.fontico-help-circled-2:before { content: '\e951'; } /* '' */
.fontico-help-circled-alt:before { content: '\e952'; } /* '' */
.fontico-info-circled-2:before { content: '\e953'; } /* '' */
.fontico-info-circled-alt:before { content: '\e954'; } /* '' */
.fontico-home-2:before { content: '\e955'; } /* '' */
.fontico-chat-2:before { content: '\e956'; } /* '' */
.fontico-comment-2:before { content: '\e957'; } /* '' */
.fontico-attention:before { content: '\e958'; } /* '' */
.fontico-attention-alt-1:before { content: '\e959'; } /* '' */
.fontico-zoom-in-2:before { content: '\e95a'; } /* '' */
.fontico-zoom-out-2:before { content: '\e95b'; } /* '' */
.fontico-clock-3:before { content: '\e95c'; } /* '' */
.fontico-down-open-2:before { content: '\e95d'; } /* '' */
.fontico-left-open-2:before { content: '\e95e'; } /* '' */
.fontico-right-open-2:before { content: '\e95f'; } /* '' */
.fontico-up-open-2:before { content: '\e960'; } /* '' */
.fontico-down-2:before { content: '\e961'; } /* '' */
.fontico-left-2:before { content: '\e962'; } /* '' */
.fontico-left-bold-1:before { content: '\e963'; } /* '' */
.fontico-down-bold-1:before { content: '\e964'; } /* '' */
.fontico-right-2:before { content: '\e965'; } /* '' */
.fontico-up-2:before { content: '\e966'; } /* '' */
.fontico-cart:before { content: '\e967'; } /* '' */
.fontico-email:before { content: '\e968'; } /* '' */
.fontico-vimeo-1:before { content: '\e969'; } /* '' */
.fontico-twitter-2:before { content: '\e96a'; } /* '' */
.fontico-skype-2:before { content: '\e96b'; } /* '' */
.fontico-vk:before { content: '\e96c'; } /* '' */
.fontico-google-1:before { content: '\e96d'; } /* '' */
.fontico-gplus-2:before { content: '\e96e'; } /* '' */
.fontico-facebook-2:before { content: '\e96f'; } /* '' */
.fontico-facebook-rect:before { content: '\e970'; } /* '' */
.fontico-twitter-3:before { content: '\e971'; } /* '' */
.fontico-twitter-bird:before { content: '\e972'; } /* '' */
.fontico-vimeo-2:before { content: '\e973'; } /* '' */
.fontico-vimeo-rect:before { content: '\e974'; } /* '' */
.fontico-tumblr-1:before { content: '\e975'; } /* '' */
.fontico-tumblr-rect:before { content: '\e976'; } /* '' */
.fontico-googleplus-rect:before { content: '\e977'; } /* '' */
.fontico-github-text:before { content: '\e978'; } /* '' */
.fontico-github:before { content: '\e979'; } /* '' */
.fontico-skype-3:before { content: '\e97a'; } /* '' */
.fontico-icq:before { content: '\e97b'; } /* '' */
.fontico-yandex:before { content: '\e97c'; } /* '' */
.fontico-yandex-rect:before { content: '\e97d'; } /* '' */
.fontico-vkontakte-rect:before { content: '\e97e'; } /* '' */
.fontico-odnoklassniki:before { content: '\e97f'; } /* '' */
.fontico-odnoklassniki-rect:before { content: '\e980'; } /* '' */
.fontico-friendfeed:before { content: '\e981'; } /* '' */
.fontico-friendfeed-rect:before { content: '\e982'; } /* '' */
.fontico-blogger:before { content: '\e983'; } /* '' */
.fontico-blogger-rect:before { content: '\e984'; } /* '' */
.fontico-deviantart:before { content: '\e985'; } /* '' */
.fontico-jabber:before { content: '\e986'; } /* '' */
.fontico-lastfm:before { content: '\e987'; } /* '' */
.fontico-lastfm-rect:before { content: '\e988'; } /* '' */
.fontico-linkedin:before { content: '\e989'; } /* '' */
.fontico-linkedin-rect:before { content: '\e98a'; } /* '' */
.fontico-picasa:before { content: '\e98b'; } /* '' */
.fontico-wordpress:before { content: '\e98c'; } /* '' */
.fontico-instagram:before { content: '\e98d'; } /* '' */
.fontico-instagram-filled:before { content: '\e98e'; } /* '' */
.fontico-diigo:before { content: '\e98f'; } /* '' */
.fontico-box:before { content: '\e990'; } /* '' */
.fontico-box-rect:before { content: '\e991'; } /* '' */
.fontico-tudou:before { content: '\e992'; } /* '' */
.fontico-youku:before { content: '\e993'; } /* '' */
.fontico-win8:before { content: '\e994'; } /* '' */
.fontico-amex:before { content: '\e995'; } /* '' */
.fontico-discover:before { content: '\e996'; } /* '' */
.fontico-visa:before { content: '\e997'; } /* '' */
.fontico-mastercard:before { content: '\e998'; } /* '' */
.fontico-houzz:before { content: '\e999'; } /* '' */
.fontico-bandcamp:before { content: '\e99a'; } /* '' */
.fontico-codepen:before { content: '\e99b'; } /* '' */
.fontico-glass:before { content: '\e99c'; } /* '' */
.fontico-music:before { content: '\e99d'; } /* '' */
.fontico-search-4:before { content: '\e99e'; } /* '' */
.fontico-search-circled:before { content: '\e99f'; } /* '' */
.fontico-mail-4:before { content: '\e9a0'; } /* '' */
.fontico-mail-circled:before { content: '\e9a1'; } /* '' */
.fontico-heart-1:before { content: '\e9a2'; } /* '' */
.fontico-heart-circled:before { content: '\e9a3'; } /* '' */
.fontico-heart-empty-1:before { content: '\e9a4'; } /* '' */
.fontico-star-3:before { content: '\e9a5'; } /* '' */
.fontico-star-circled:before { content: '\e9a6'; } /* '' */
.fontico-star-empty-3:before { content: '\e9a7'; } /* '' */
.fontico-user-3:before { content: '\e9a8'; } /* '' */
.fontico-group:before { content: '\e9a9'; } /* '' */
.fontico-group-circled:before { content: '\e9aa'; } /* '' */
.fontico-torso:before { content: '\e9ab'; } /* '' */
.fontico-video:before { content: '\e9ac'; } /* '' */
.fontico-video-circled:before { content: '\e9ad'; } /* '' */
.fontico-video-alt:before { content: '\e9ae'; } /* '' */
.fontico-videocam:before { content: '\e9af'; } /* '' */
.fontico-video-chat:before { content: '\e9b0'; } /* '' */
.fontico-picture-1:before { content: '\e9b1'; } /* '' */
.fontico-camera-1:before { content: '\e9b2'; } /* '' */
.fontico-photo:before { content: '\e9b3'; } /* '' */
.fontico-photo-circled:before { content: '\e9b4'; } /* '' */
.fontico-th-large-1:before { content: '\e9b5'; } /* '' */
.fontico-th-2:before { content: '\e9b6'; } /* '' */
.fontico-th-list-3:before { content: '\e9b7'; } /* '' */
.fontico-view-mode:before { content: '\e9b8'; } /* '' */
.fontico-ok-3:before { content: '\e9b9'; } /* '' */
.fontico-ok-circled-2:before { content: '\e9ba'; } /* '' */
.fontico-ok-circled2-1:before { content: '\e9bb'; } /* '' */
.fontico-cancel-4:before { content: '\e9bc'; } /* '' */
.fontico-cancel-circled-3:before { content: '\e9bd'; } /* '' */
.fontico-cancel-circled2-1:before { content: '\e9be'; } /* '' */
.fontico-plus-4:before { content: '\e9bf'; } /* '' */
.fontico-plus-circled-2:before { content: '\e9c0'; } /* '' */
.fontico-minus-2:before { content: '\e9c1'; } /* '' */
.fontico-minus-circled-2:before { content: '\e9c2'; } /* '' */
.fontico-help-2:before { content: '\e9c3'; } /* '' */
.fontico-help-circled-3:before { content: '\e9c4'; } /* '' */
.fontico-info-circled-3:before { content: '\e9c5'; } /* '' */
.fontico-home-3:before { content: '\e9c6'; } /* '' */
.fontico-home-circled:before { content: '\e9c7'; } /* '' */
.fontico-website:before { content: '\e9c8'; } /* '' */
.fontico-website-circled:before { content: '\e9c9'; } /* '' */
.fontico-attach-1:before { content: '\e9ca'; } /* '' */
.fontico-attach-circled:before { content: '\e9cb'; } /* '' */
.fontico-lock:before { content: '\e9cc'; } /* '' */
.fontico-lock-circled:before { content: '\e9cd'; } /* '' */
.fontico-lock-open:before { content: '\e9ce'; } /* '' */
.fontico-lock-open-alt:before { content: '\e9cf'; } /* '' */
.fontico-eye-1:before { content: '\e9d0'; } /* '' */
.fontico-eye-off:before { content: '\e9d1'; } /* '' */
.fontico-tag-2:before { content: '\e9d2'; } /* '' */
.fontico-tags:before { content: '\e9d3'; } /* '' */
.fontico-bookmark-1:before { content: '\e9d4'; } /* '' */
.fontico-bookmark-empty:before { content: '\e9d5'; } /* '' */
.fontico-flag:before { content: '\e9d6'; } /* '' */
.fontico-flag-circled:before { content: '\e9d7'; } /* '' */
.fontico-thumbs-up-2:before { content: '\e9d8'; } /* '' */
.fontico-thumbs-down-2:before { content: '\e9d9'; } /* '' */
.fontico-download-1:before { content: '\e9da'; } /* '' */
.fontico-download-alt:before { content: '\e9db'; } /* '' */
.fontico-upload-1:before { content: '\e9dc'; } /* '' */
.fontico-share:before { content: '\e9dd'; } /* '' */
.fontico-quote:before { content: '\e9de'; } /* '' */
.fontico-quote-circled:before { content: '\e9df'; } /* '' */
.fontico-export:before { content: '\e9e0'; } /* '' */
.fontico-pencil:before { content: '\e9e1'; } /* '' */
.fontico-pencil-circled:before { content: '\e9e2'; } /* '' */
.fontico-edit:before { content: '\e9e3'; } /* '' */
.fontico-edit-circled:before { content: '\e9e4'; } /* '' */
.fontico-edit-alt:before { content: '\e9e5'; } /* '' */
.fontico-print:before { content: '\e9e6'; } /* '' */
.fontico-retweet:before { content: '\e9e7'; } /* '' */
.fontico-comment-3:before { content: '\e9e8'; } /* '' */
.fontico-comment-alt:before { content: '\e9e9'; } /* '' */
.fontico-bell:before { content: '\e9ea'; } /* '' */
.fontico-warning:before { content: '\e9eb'; } /* '' */
.fontico-exclamation:before { content: '\e9ec'; } /* '' */
.fontico-error:before { content: '\e9ed'; } /* '' */
.fontico-error-alt:before { content: '\e9ee'; } /* '' */
.fontico-location-2:before { content: '\e9ef'; } /* '' */
.fontico-location-circled:before { content: '\e9f0'; } /* '' */
.fontico-compass:before { content: '\e9f1'; } /* '' */
.fontico-compass-circled:before { content: '\e9f2'; } /* '' */
.fontico-trash-2:before { content: '\e9f3'; } /* '' */
.fontico-trash-circled:before { content: '\e9f4'; } /* '' */
.fontico-doc:before { content: '\e9f5'; } /* '' */
.fontico-doc-circled:before { content: '\e9f6'; } /* '' */
.fontico-doc-new:before { content: '\e9f7'; } /* '' */
.fontico-doc-new-circled:before { content: '\e9f8'; } /* '' */
.fontico-folder-1:before { content: '\e9f9'; } /* '' */
.fontico-folder-circled:before { content: '\e9fa'; } /* '' */
.fontico-folder-close:before { content: '\e9fb'; } /* '' */
.fontico-folder-open-1:before { content: '\e9fc'; } /* '' */
.fontico-rss:before { content: '\e9fd'; } /* '' */
.fontico-phone-2:before { content: '\e9fe'; } /* '' */
.fontico-phone-circled:before { content: '\e9ff'; } /* '' */
.fontico-cog-2:before { content: '\ea00'; } /* '' */
.fontico-cog-circled:before { content: '\ea01'; } /* '' */
.fontico-cogs:before { content: '\ea02'; } /* '' */
.fontico-wrench-1:before { content: '\ea03'; } /* '' */
.fontico-wrench-circled:before { content: '\ea04'; } /* '' */
.fontico-basket-3:before { content: '\ea05'; } /* '' */
.fontico-basket-circled:before { content: '\ea06'; } /* '' */
.fontico-calendar-1:before { content: '\ea07'; } /* '' */
.fontico-calendar-circled:before { content: '\ea08'; } /* '' */
.fontico-mic:before { content: '\ea09'; } /* '' */
.fontico-mic-circled:before { content: '\ea0a'; } /* '' */
.fontico-volume-off:before { content: '\ea0b'; } /* '' */
.fontico-volume-down:before { content: '\ea0c'; } /* '' */
.fontico-volume:before { content: '\ea0d'; } /* '' */
.fontico-volume-up:before { content: '\ea0e'; } /* '' */
.fontico-headphones:before { content: '\ea0f'; } /* '' */
.fontico-clock-4:before { content: '\ea10'; } /* '' */
.fontico-clock-circled:before { content: '\ea11'; } /* '' */
.fontico-lightbulb:before { content: '\ea12'; } /* '' */
.fontico-lightbulb-alt:before { content: '\ea13'; } /* '' */
.fontico-block-1:before { content: '\ea14'; } /* '' */
.fontico-resize-full-1:before { content: '\ea15'; } /* '' */
.fontico-resize-full-alt-1:before { content: '\ea16'; } /* '' */
.fontico-resize-small-1:before { content: '\ea17'; } /* '' */
.fontico-resize-vertical-1:before { content: '\ea18'; } /* '' */
.fontico-resize-horizontal-1:before { content: '\ea19'; } /* '' */
.fontico-move-1:before { content: '\ea1a'; } /* '' */
.fontico-zoom-in-3:before { content: '\ea1b'; } /* '' */
.fontico-zoom-out-3:before { content: '\ea1c'; } /* '' */
.fontico-down-open-3:before { content: '\ea1d'; } /* '' */
.fontico-left-open-3:before { content: '\ea1e'; } /* '' */
.fontico-right-open-3:before { content: '\ea1f'; } /* '' */
.fontico-up-open-3:before { content: '\ea20'; } /* '' */
.fontico-down-3:before { content: '\ea21'; } /* '' */
.fontico-left-3:before { content: '\ea22'; } /* '' */
.fontico-right-3:before { content: '\ea23'; } /* '' */
.fontico-up-3:before { content: '\ea24'; } /* '' */
.fontico-down-circled-2:before { content: '\ea25'; } /* '' */
.fontico-left-circled-2:before { content: '\ea26'; } /* '' */
.fontico-right-circled-2:before { content: '\ea27'; } /* '' */
.fontico-up-circled-2:before { content: '\ea28'; } /* '' */
.fontico-down-hand:before { content: '\ea29'; } /* '' */
.fontico-left-hand:before { content: '\ea2a'; } /* '' */
.fontico-right-hand:before { content: '\ea2b'; } /* '' */
.fontico-up-hand:before { content: '\ea2c'; } /* '' */
.fontico-cw-2:before { content: '\ea2d'; } /* '' */
.fontico-cw-circled:before { content: '\ea2e'; } /* '' */
.fontico-arrows-cw-1:before { content: '\ea2f'; } /* '' */
.fontico-shuffle:before { content: '\ea30'; } /* '' */
.fontico-play-1:before { content: '\ea31'; } /* '' */
.fontico-play-circled:before { content: '\ea32'; } /* '' */
.fontico-play-circled2:before { content: '\ea33'; } /* '' */
.fontico-stop:before { content: '\ea34'; } /* '' */
.fontico-stop-circled:before { content: '\ea35'; } /* '' */
.fontico-pause:before { content: '\ea36'; } /* '' */
.fontico-pause-circled:before { content: '\ea37'; } /* '' */
.fontico-record:before { content: '\ea38'; } /* '' */
.fontico-eject-1:before { content: '\ea39'; } /* '' */
.fontico-backward:before { content: '\ea3a'; } /* '' */
.fontico-backward-circled:before { content: '\ea3b'; } /* '' */
.fontico-fast-backward:before { content: '\ea3c'; } /* '' */
.fontico-fast-forward:before { content: '\ea3d'; } /* '' */
.fontico-forward:before { content: '\ea3e'; } /* '' */
.fontico-forward-circled:before { content: '\ea3f'; } /* '' */
.fontico-step-backward:before { content: '\ea40'; } /* '' */
.fontico-step-forward:before { content: '\ea41'; } /* '' */
.fontico-target:before { content: '\ea42'; } /* '' */
.fontico-signal:before { content: '\ea43'; } /* '' */
.fontico-desktop:before { content: '\ea44'; } /* '' */
.fontico-desktop-circled:before { content: '\ea45'; } /* '' */
.fontico-laptop-1:before { content: '\ea46'; } /* '' */
.fontico-laptop-circled:before { content: '\ea47'; } /* '' */
.fontico-network:before { content: '\ea48'; } /* '' */
.fontico-inbox-1:before { content: '\ea49'; } /* '' */
.fontico-inbox-circled:before { content: '\ea4a'; } /* '' */
.fontico-inbox-alt:before { content: '\ea4b'; } /* '' */
.fontico-globe-1:before { content: '\ea4c'; } /* '' */
.fontico-globe-alt:before { content: '\ea4d'; } /* '' */
.fontico-cloud-1:before { content: '\ea4e'; } /* '' */
.fontico-cloud-circled:before { content: '\ea4f'; } /* '' */
.fontico-flight:before { content: '\ea50'; } /* '' */
.fontico-leaf-2:before { content: '\ea51'; } /* '' */
.fontico-font:before { content: '\ea52'; } /* '' */
.fontico-fontsize:before { content: '\ea53'; } /* '' */
.fontico-bold:before { content: '\ea54'; } /* '' */
.fontico-italic:before { content: '\ea55'; } /* '' */
.fontico-text-height:before { content: '\ea56'; } /* '' */
.fontico-text-width:before { content: '\ea57'; } /* '' */
.fontico-align-left-1:before { content: '\ea58'; } /* '' */
.fontico-align-center-1:before { content: '\ea59'; } /* '' */
.fontico-align-right-1:before { content: '\ea5a'; } /* '' */
.fontico-align-justify-1:before { content: '\ea5b'; } /* '' */
.fontico-list-2:before { content: '\ea5c'; } /* '' */
.fontico-indent-left-1:before { content: '\ea5d'; } /* '' */
.fontico-indent-right-1:before { content: '\ea5e'; } /* '' */
.fontico-briefcase:before { content: '\ea5f'; } /* '' */
.fontico-off-1:before { content: '\ea60'; } /* '' */
.fontico-road:before { content: '\ea61'; } /* '' */
.fontico-qrcode:before { content: '\ea62'; } /* '' */
.fontico-barcode:before { content: '\ea63'; } /* '' */
.fontico-braille:before { content: '\ea64'; } /* '' */
.fontico-book:before { content: '\ea65'; } /* '' */
.fontico-adjust:before { content: '\ea66'; } /* '' */
.fontico-tint:before { content: '\ea67'; } /* '' */
.fontico-check-2:before { content: '\ea68'; } /* '' */
.fontico-check-empty-1:before { content: '\ea69'; } /* '' */
.fontico-asterisk-1:before { content: '\ea6a'; } /* '' */
.fontico-gift:before { content: '\ea6b'; } /* '' */
.fontico-fire:before { content: '\ea6c'; } /* '' */
.fontico-magnet:before { content: '\ea6d'; } /* '' */
.fontico-chart:before { content: '\ea6e'; } /* '' */
.fontico-chart-circled:before { content: '\ea6f'; } /* '' */
.fontico-credit-card-1:before { content: '\ea70'; } /* '' */
.fontico-megaphone:before { content: '\ea71'; } /* '' */
.fontico-clipboard:before { content: '\ea72'; } /* '' */
.fontico-hdd:before { content: '\ea73'; } /* '' */
.fontico-key-1:before { content: '\ea74'; } /* '' */
.fontico-certificate-1:before { content: '\ea75'; } /* '' */
.fontico-tasks:before { content: '\ea76'; } /* '' */
.fontico-filter:before { content: '\ea77'; } /* '' */
.fontico-gauge:before { content: '\ea78'; } /* '' */
.fontico-smiley:before { content: '\ea79'; } /* '' */
.fontico-smiley-circled:before { content: '\ea7a'; } /* '' */
.fontico-address-book:before { content: '\ea7b'; } /* '' */
.fontico-address-book-alt:before { content: '\ea7c'; } /* '' */
.fontico-asl:before { content: '\ea7d'; } /* '' */
.fontico-glasses:before { content: '\ea7e'; } /* '' */
.fontico-hearing-impaired:before { content: '\ea7f'; } /* '' */
.fontico-iphone-home:before { content: '\ea80'; } /* '' */
.fontico-person:before { content: '\ea81'; } /* '' */
.fontico-adult:before { content: '\ea82'; } /* '' */
.fontico-child:before { content: '\ea83'; } /* '' */
.fontico-blind:before { content: '\ea84'; } /* '' */
.fontico-guidedog:before { content: '\ea85'; } /* '' */
.fontico-accessibility:before { content: '\ea86'; } /* '' */
.fontico-universal-access:before { content: '\ea87'; } /* '' */
.fontico-male:before { content: '\ea88'; } /* '' */
.fontico-female:before { content: '\ea89'; } /* '' */
.fontico-behance:before { content: '\ea8a'; } /* '' */
.fontico-blogger-1:before { content: '\ea8b'; } /* '' */
.fontico-cc:before { content: '\ea8c'; } /* '' */
.fontico-css:before { content: '\ea8d'; } /* '' */
.fontico-delicious:before { content: '\ea8e'; } /* '' */
.fontico-deviantart-1:before { content: '\ea8f'; } /* '' */
.fontico-digg:before { content: '\ea90'; } /* '' */
.fontico-dribbble:before { content: '\ea91'; } /* '' */
.fontico-facebook-3:before { content: '\ea92'; } /* '' */
.fontico-flickr:before { content: '\ea93'; } /* '' */
.fontico-foursquare:before { content: '\ea94'; } /* '' */
.fontico-friendfeed-1:before { content: '\ea95'; } /* '' */
.fontico-friendfeed-rect-1:before { content: '\ea96'; } /* '' */
.fontico-github-1:before { content: '\ea97'; } /* '' */
.fontico-github-text-1:before { content: '\ea98'; } /* '' */
.fontico-googleplus:before { content: '\ea99'; } /* '' */
.fontico-instagram-1:before { content: '\ea9a'; } /* '' */
.fontico-linkedin-1:before { content: '\ea9b'; } /* '' */
.fontico-path:before { content: '\ea9c'; } /* '' */
.fontico-picasa-1:before { content: '\ea9d'; } /* '' */
.fontico-pinterest-1:before { content: '\ea9e'; } /* '' */
.fontico-reddit:before { content: '\ea9f'; } /* '' */
.fontico-skype-4:before { content: '\eaa0'; } /* '' */
.fontico-slideshare:before { content: '\eaa1'; } /* '' */
.fontico-stackoverflow:before { content: '\eaa2'; } /* '' */
.fontico-stumbleupon:before { content: '\eaa3'; } /* '' */
.fontico-twitter-4:before { content: '\eaa4'; } /* '' */
.fontico-tumblr-2:before { content: '\eaa5'; } /* '' */
.fontico-vimeo-3:before { content: '\eaa6'; } /* '' */
.fontico-vkontakte-1:before { content: '\eaa7'; } /* '' */
.fontico-w3c:before { content: '\eaa8'; } /* '' */
.fontico-wordpress-1:before { content: '\eaa9'; } /* '' */
.fontico-youtube:before { content: '\eaaa'; } /* '' */