.nivoSlider{position:relative;width:100%;height:auto;overflow:hidden;}
.nivoSlider img{position:absolute;top:0px;left:0px;max-width:none;}
.nivo-main-image{display:block !important;position:relative !important;width:100% !important;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;background:white;filter:alpha(opacity=0);opacity:0;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;width:100%;z-index:8;padding:5px 10px;opacity:0.8;overflow:hidden;display:none;-moz-opacity:0.8;filter:alpha(opacity=8);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-directionNav a{position:absolute;z-index:9;cursor:pointer;height:60px;width:23px;}
.nivo-prevNav{background:url(img/arrow_left_big.png) no-repeat 0 0;left:1px;}
.nivo-prevNav:hover{background:url(img/arrow_left_big.png) no-repeat -23px 0;}
.nivo-nextNav{background:url(img/arrow_right_big.png) no-repeat 0 0;right:1px;}
.nivo-nextNav:hover{background:url(img/arrow_right_big.png) no-repeat -23px 0;}
.nivo-controlNav{text-align:center;margin:5px 0 -10px;}
.nivo-controlNav a{background:url(img/bullets.png) no-repeat -20px 0;height:20px;width:20px;cursor:pointer;display:inline-block;text-indent:100%;white-space:nowrap;overflow:hidden;}
.nivo-controlNav a.active{background:url(img/bullets.png) no-repeat 0 0;}