.seo_links_cont{margin-top:100px;}
.seo_links table.items th.options{width:90px;}
.seo_links table.items tr > td{
    width: calc(50% - 90px);
}
.tablist > table.items {
  width: 100%;
}
.tablist {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}
table.items tr>td.pos{width:50px;}
table.items tr>td.btn{width:90px}
.seo_links.open .catTitle {
  background-color: #0772de;
  color: #fff;
  padding-left: 40px;
}
.seo_links .catTitle {
  background-color: #ffffff;
  border: 1px solid #3b6798;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 0 5px 20px;
  transition: all 0.5s ease 0s;
}
.seo_links:last-child .catTitle{border-bottom:1px solid #3b6798;}
.seo_links .catTitle:hover{padding-left:30px;}
.seo_links_cont ul{padding:0;}
li.seo_links{list-style:outside none none;}