body, html {color: #000;height: 100%;min-height: 100%;}
body, html, table {font-family: Arial;font-size: 11px;}
body, html, table, td, h1 {padding: 0px;margin: 0px;}
table {border-collapse: collapse;font-size: 12px;}
img {border: none}
a {color: #45688e;cursor: pointer;}
a:hover {text-decoration: underline;}
a:active, a:focus, img {outline: none}
:focus{-moz-outline-style: none}
select.textfield {cursor:pointer;}
.f-field {background: #f2f5f5 url('/sf123sf123sf/i/input-bg.gif') 0px -1px repeat-x;border-top: 1px solid #808080;border-right: 1px solid #bfbfbf;border-bottom: 1px solid #eaeaea;border-left: 1px solid #bfbfbf;color: #404041;font-family: Arial,Sans-serif;font-size: 1em;padding: 2px 2px;resize: none;}
.b-textfield {background: #5C82AB;border:0px solid #cd7401;border-radius: 5px;-moz-border-radius: 5px;padding: 3px 8px;color: #fff;cursor: pointer;font-size: 11px;letter-spacing: 1px;font-family: Arial;}
.input-yar {width: 32px;}
input[type=checkbox] {background: none;border: 0px;}
input.disabled {background: transparent;border: 0px;}
textarea.textfield {line-height: 1.375em;}
input.checkbox {margin-bottom:0em;}
input[type='radio'] {margin-right: 0.5em;margin-bottom: 0em;cursor: pointer;}
input.radio {margin-right: 0.5em;cursor: pointer;}
div.left {display: inline;width: auto;float: left;}
div.dots {width: 2px;height: 16px;display: inline;background: url('/sf123sf123sf/i/dots.gif') 0px 4px no-repeat;float: right;margin: 3px 4px 0px 9px;}
div.btn {width: 16px;height: 16px;display: inline;float: right;margin: 4px 0px 0px 5px;cursor: pointer;}
div.help {background: url('/sf123sf123sf/i/help.gif') 0px 0px no-repeat;}
div.log-off {background: url('/sf123sf123sf/i/log-off.gif') 0px 1px no-repeat;}
table.content {width: 100%;height: 100%;}
table.content td.html {vertical-align: top;font-size: 12px;padding: 10px 20px 10px 10px;color: #555;}
table.content td#header {height: 25px;background: url('/sf123sf123sf/i/header.gif') repeat-x;color: #fff;padding: 0px 10px;}
table.content td#header div.left {font-family: MS Sans Serif;letter-spacing: 1px;height: 25px;line-height: 22px;}
table.content td#footer {height: 20px;color: #808080;padding: 0px 7px;line-height: 15px;font-size: 10px;}
table.content td#footer a {color: #808080;text-decoration: none;}
table.content td#menu {width: 175px;vertical-align: top;padding: 10px 0px 10px 10px;font-size: 11px;}
table.content td#menu div#logo-175 {width: 175px;height: 80px;disply: block;background: url('/sf123sf123sf/i/logo-175.png') no-repeat;}
table.content td#menu div#info {width: 175px;disply: block;color: #808080;padding: 5px;color: #333;}
table.content td#menu div#info p {margin: 0px 0px 5px 0px;}
table.content td#menu div.title {width: 165px;height: 20px;disply: block;background: url('/sf123sf123sf/i/firstlevel.gif') no-repeat;color: #fff;line-height: 20px;padding: 0px 5px;margin: 0px 0px 3px 0px;}
table.content td#menu div.dir {width: 143px;height: 18px;disply: block;line-height: 18px;padding: 0px 5px 0px 25px;margin: 0px 0px 3px 0px;border: 1px solid #ccc;cursor: pointer;}
table.content td#menu div.dir:hover, table.content td#menu div.hover {background-color: #dfdfdf;}
table.content td#menu div.links {width: 175px;disply: block;line-height: 18px;display: none;}
table.content td#menu div.links div {width: 138px;height: 18px;disply: block;line-height: 18px;padding-left: 35px;margin: 0px 0px 3px 0px;border: 1px solid #ccc;cursor: pointer;}
table.content td#menu div.links div:hover, table.content td#menu div.links div.hover {background-color: #dfdfdf;}
table.popup {position: absolute;left: 0px;top: 0px;background: url('/sf123sf123sf/i/layout.png') left top repeat;width: 100%;height: 100%;display: none;z-index: 1000;overflow-x: hidden;overflow-y: auto;text-align: center;color: #fff;}
body > table.popup {position: fixed;}
table.popup td.cData {padding: 20px auto;}
div.dialog-box {background: #fff;width: 400px;color: #000;text-align: left;margin: 0px auto;border: 1px solid red;border: 1px solid #d9e0e7;font-size: 11px;position:relative;}
div.dialog-box div.title {height: 25px;line-height: 25px;background: #f2f5f5;border-bottom: 1px solid #d9e0e7;padding: 0px 20px;font-weight: bold;}
div.dialog-box div.data {padding: 10px 20px 0px}
div.dialog-box div.data_butn{padding: 0px 20px 10px;}
div.dialog-box div.data_butn p{margin-top: 0;}
div.dialog-box div.acts {position:absolute;top:45px;right:20px;width:auto;}
div.dialog-box div.acts a {display:block;margin-bottom:5px;text-decoration:none;border-bottom: 1px dotted #555;color:#555;}
div.dialog-box div.acts a:hover {border-bottom: 1px solid #555;}
div.dialog-box p {margin: 0px 0px 4px 0px;}
div.dialog-box .textfield, div.dialog-box textarea {width: 100%;margin-top: 2px;}
div.dialog-box hr {margin: 15px 0px 10px 0px;}
div.dialog-box p.buttons {margin-top: 10px;}
div.dialog-box p.buttons input {margin-left: 10px;}
div.dialog-box img#loading {margin-right:5px;}
.right, p.submit {text-align: right;}
h1 {font-size: 16px;margin: 0px 0px 10px 0px;}
h2 {font-size: 14px;margin: 0px 0px 10px 0px;}
h1 a {color:#7f7f7f;text-decoration:none;}
h1 a:hover {text-decoration:underline}
h1 img {margin-left: 5px;cursor: pointer;}
div#container {width: 99%;height: 98%;border: 1px solid #e5eaef;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
table tr>td.user_orders{width:220px; padding:68px 0 0 20px; vertical-align: top;}
table tr>td.user_orders>div{overflow-y: scroll;overflow-x: hidden; border-top: 1px dashed; border-bottom: 1px dashed;}
table tr>td.user_orders table.items{border-spacing: 0; border-collapse: collapse; border: 0; }
table tr>td.user_fields{vertical-align: top;padding-top: 68px;}
table.items {width: 99%;}
table.items th {background: #6d8fb3;text-align: left;padding: 3px 7px;color: #e8eff7;border: 1px solid #3b6798;text-align:center;}
table.items td {border: 1px solid #3b6798;line-height: 20px;padding: 0px 7px;text-align:center;}
table.items tr:hover {background: #D9E0E7;}
table.items tr.odd {background-color: #e0eeee;}
table.items tr.odd:hover {background: #D9E0E7;}
table.items tr.odd.green {background-color: #e0eee0;}
table.items tr.odd.green:hover {background: #D9E0E7;}
table.items tr.title:hover {background: none;}
table.items .id {width: 25px;text-align: center;}
table.items td.name>a, table.items td.name>span {white-space: pre;}
table.items td.title {cursor: pointer;padding-left: 23px;background: url('/sf123sf123sf/i/item.gif') 3px 2px no-repeat;text-align:left;}
table.items td.no-head {cursor: default;}
table.items td.dir {background: url('/sf123sf123sf/i/folder.gif') 3px 2px no-repeat;}
table.items td.btn div {width: 13px;height: 16px;display: inline-block;padding: 2px 5px;cursor: pointer; text-align: center; background-position: center center !important; background-size: auto !important;border-radius: 3px;border: 1px solid rgba(0,0,0,0);}
table.items td.btn div:hover{border: 1px solid #fff;box-shadow: 1px 1px 3px -1px #000;}
table.items td.btn .active {background: url('/sf123sf123sf/i/active.gif') no-repeat}
table.items td.btn .active-off {background: url('/sf123sf123sf/i/not-active.png') no-repeat}
table.items td.btn .edit {background: url('/sf123sf123sf/i/edit.gif') no-repeat}
table.items td.btn .delete {background: url('/sf123sf123sf/i/delete.gif') no-repeat}
table.items td.btn .delete-off {background: url('/sf123sf123sf/i/delete-off.gif') no-repeat;cursor: default;}
table.items td.btn {padding: 0;}
div.paging {width: 99%;margin: 10px auto;text-align: center;}
div.paging span {font-weight: bold;color: #555;}
div.paging a, div.paging span {margin: 0px 3px;}
div.pach {color: #555;margin-bottom: 5px;}
div.pach a, div.pach span {margin-right: 5px;}
div.search .query {width: 99%;border: 1px solid #3b6798;padding-left: 20px;background: url('/sf123sf123sf/i/search.png') 5px 3px no-repeat;color: #555;}
div#loading {width: 175px;height: 10px;display: block;}
p.info {font-size: 11px;color: #808080;margin: 2px 0px 0px 0px;}
p.item, p.submit {margin: 8px 0px}
p.item label {display: block;margin: 0px 0px 3px 0px;}
p.item input.f-field, p.item textarea {width: 100%;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-webkit-border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-radius: 4px;}
p.item select.f-field {cursor:pointer}
p.item input.date {width:75px}
p.item label {display: inline;}
p.submit {margin-top:20px}
input.submit {cursor:pointer;}
.hint {color:#808080;font-size:11px;letter-spacing:1px;}

span.jLink {cursor:pointer;color:#555}
span.jHover {cursor:pointer;text-decoration: underline;color:#000;}
span.jLink:hover {text-decoration: underline;color:#000;}

span.off {color:red}

.hidden {display: none;}

form#uploader-form {
	display:none;
}
form#uploader-form fieldset#fallback {
	border: 0px;
}
div#file-uploader {
	width: 495px;
}
#status {
	padding: 10px 15px;
	width: 420px;
	border: 1px solid #eee;
}
#status .progress {
	background: url(/sf123sf123sf/i/progress.gif) no-repeat;
	background-position: +50% 0;
	margin-right: 0.5em;
	vertical-align: middle;
}
#status .progress-text {
	font-size: 0.9em;
	font-weight: bold;
}
#list {
	list-style: none;
	width: 450px;
	margin: 0px;
	padding: 0px;
}
#list li.validation-error {
	padding-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	color: #8a1f11;
	cursor: pointer;
	border-bottom: 1px solid #fbc2c4;
	background: #fbe3e4 url(/sf123sf123sf/i/failed.png) no-repeat 4px 4px;
}
#list li.file {
	border-bottom: 1px solid #eee;
	background: url(/sf123sf123sf/i/file.png) no-repeat 4px 4px;
	overflow: auto;
}
#list li.file.file-uploading {
	background-image: url(/sf123sf123sf/i/uploading.png);
	background-color: #D9DDE9;
}
#list li.file.file-success {
	background-image: url(/sf123sf123sf/i/success.png);
}
#list li.file.file-failed {
	background-image: url(/sf123sf123sf/i/failed.png);
}
#list li.file .file-name {
	font-size: 1.2em;
	margin-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
}
#list li.file .file-size {
	font-size: 0.9em;
	line-height: 18px;
	float: right;
	margin-top: 2px;
	margin-right: 6px;
}
#list li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 0.9em;
	line-height: 20px;
	/*clear*/
}
#list li.file .file-remove {
	clear: right;
	float: right;
	line-height: 18px;
	margin-right: 6px;
}

.width-100 {width: 100%}

table.items th.title {text-align:left;}
table.items th.options, table.items th.call_now {min-width: 65px;}
table.items th.admin {width: 100px;}
table.items th.menu {width: 100px;}
table.items th.phone {width: 130px;}
table.items th.username {width: 220px;}
table.items th.pach, table.items td.pach {text-align: left;}
table.items th.reduction {width: 120px;}
table.items th.value {width: 120px;}
table.items th.index {width: 120px;}
table.items th.price {width: 120px;}
table.items th.count {width: 120px;}
table.items th.activation {width: 100px;}
table.items th.status {width: 120px;}
table.items th.type {width: 150px;}
table.items th.timeDelivery {width: 120px;}
table.items th.itogo {width: 150px;}
table.items th.date {width: 130px;}
table.items th.datetime {width: 130px;}
table.items th.insert {width: 130px;}
table.items th.activation {width: 150px;}
table.items th.pos {width: 34px;}
table.items th.call_time, table.items th.call_time_end {width: 90px;}

#menu #users {background-image: url('/sf123sf123sf/i/icons/user.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #pages {background-image: url('/sf123sf123sf/i/icons/list-pages.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #news {background-image: url('/sf123sf123sf/i/icons/list-news.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #sys-edit {background-image: url('/sf123sf123sf/i/icons/settings.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #modules {background-image: url('/sf123sf123sf/i/icons/module.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #catalog {background-image: url('/sf123sf123sf/i/catalog.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #section {background-image: url('/sf123sf123sf/i/section.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #menu {background-image: url('/sf123sf123sf/i/menu.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #menu_right {background-image: url('/sf123sf123sf/i/menu.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #admin {background-image: url('/sf123sf123sf/i/admin.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #orders {background-image: url('/sf123sf123sf/i/orders.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #colors {background-image: url('/sf123sf123sf/i/colors.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #designer {background-image: url('/sf123sf123sf/i/designer.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #reviews {background-image: url('/sf123sf123sf/i/reviews.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #banners, #menu #icons {background-image: url('/sf123sf123sf/i/banners.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #call {background-image: url('/sf123sf123sf/i/call.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #currency {background-image: url('/sf123sf123sf/i/currency.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #orders_fast {background-image: url('/sf123sf123sf/i/order.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #delivery {background-image: url('/sf123sf123sf/i/delivery.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #delivery_holiday {background-image: url('/sf123sf123sf/i/delivery.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #cards, #menu #coupons {background-image: url('/sf123sf123sf/i/cards.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #discounts {background-image: url('/sf123sf123sf/i/discounts.jpg');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #alerts {background-image: url('/sf123sf123sf/i/alerts.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #phone {background-image: url('/sf123sf123sf/i/call.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #sms {background-image: url('/sf123sf123sf/i/sms.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #corporate {background-image: url('/sf123sf123sf/i/firm-icon.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #catalog_reviews {background-image: url('/sf123sf123sf/i/reviews_icon.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #pricing {background-image: url('/sf123sf123sf/i/pricing.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #distribution {background-image: url('/sf123sf123sf/i/mailing.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #articles {background-image: url('/sf123sf123sf/i/articles.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #variables {background-image: url('/sf123sf123sf/i/lamp.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #seo {background-image: url('/sf123sf123sf/i/seo.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #reminder {background-image: url('/sf123sf123sf/i/reminder.gif');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #works {background-image: url('/sf123sf123sf/i/icons/drive_network.png');background-repeat: no-repeat;background-position: 4px 1px;}
#menu #blocks {background-image: url('/sf123sf123sf/i/icons/layers.png');background-repeat: no-repeat;background-position: 4px 1px;}

div#current-topics {font-size: 11px; margin: 2px 0px 0px 0px; padding: 0px;}
p.catalog-section {margin-bottom: 0px;}

table.types {
	width: 100%;
}
table.types th, table.types td {
	padding: 4px 5px;
	text-align: center;
	border: 1px solid #3b6798;
}
table.types th {
	background: #5c82ab;
	font-weight: bold;
	color: #fff;
}
table.types .title {text-align: left;}
table.types th.price {width:120px;}
table.types th.price-old {width:120px;}
table.types th.options {width:150px;}
table.types td.options {font-size:11px; color: #808080;}
table.types td.options a {color:#000;text-decoration: none;}
table.types td.options a:hover {border-bottom: 1px dashed #000}

a.insert-type {font-size:11px;}
a.noborder {text-decoration:none;}

table.basket-items {width: 100%; font-size: 11px; text-align: center; margin-bottom: 20px;}
table.basket-items th {background: #6D8FB3; color: #fff; padding: 2px 3px;}
table.basket-items .title {text-align: left;}
table.basket-items td {border: 1px dotted #6D8FB3; padding: 2px 3px;}
table.form-data {width: 100%;}
table.form-data th {text-align: left; vertical-align: top;}
table.form-data p {margin: 0px 0px 5px 0px;}
div.overflow {
	width: auto;
	height: auto;
	overflow: auto;
	margin: auto;
}
fieldset {
    max-height: 500px;
    overflow: scroll;
}
tr.grey {
    background: none repeat scroll 0 0 #dadada;
}
.section_items td {
    border: 1px dashed #555;
    padding: 0 4px;
}
table.items tr>td.soc_nw>div{
    height: 21px;
    width: 20px;
    display: inline-block;
}
td.soc_nw>div.soc_vk{
    background: url('/sf123sf123sf/i/soc_login_icons.png') 0 -21px no-repeat;
}
td.soc_nw>div.soc_facebook{
    background: url('/sf123sf123sf/i/soc_login_icons.png') 0 0 no-repeat;
}
td.soc_nw>div.soc_google{
    background: url('/sf123sf123sf/i/soc_login_icons.png') 0 -42px no-repeat;
}
td.soc_nw>div.soc_odnoklassniki{
    background: url('/sf123sf123sf/i/soc_login_icons.png') 0 -63px no-repeat;
}
td.soc_nw>div.soc_yandex{
    background: url('/sf123sf123sf/i/soc_login_icons.png') 0 -84px no-repeat;
}
td.soc_nw>div.soc_mailru{
    background: url('/sf123sf123sf/i/soc_login_icons.png') 0 -105px no-repeat;
}
td.user_orders table.items td.orders{
    padding-left: 29px;
    background-position: 7px 1px;
    background-repeat: no-repeat;
    text-align: left;
}
td.user_orders table.items td.orders.u_orders{
    background-image: url("/sf123sf123sf/i/orders.png");
}
td.user_orders table.items td.orders.u_orders_fast{
    background-image: url("/sf123sf123sf/i/order.gif");
}
td.user_orders table.items td.orders.u_fast_baying{
    background-image: url("/sf123sf123sf/i/basket_go.png");
}
div.h1-cont{min-height: 120px;}
table#sitemap_tbl hr{margin: 3px 0;}
table#sitemap_tbl.items tr:hover{background: none;}
td#sm_s{position: relative;width: 170px;}
td#sm_s.on div.sm_loading {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/sf123sf123sf/i/loading_line.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70% auto;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
input.b-textfield[disabled] {background: none repeat scroll 0 0 #999;}
p.item select.f-field > option[disabled] { background: none repeat scroll 0 0 #cee; font-style: italic;}
.insta_task{border:1px solid;display:inline-block;line-height:16px;padding:1px}
.insta_task>img{display:inline-block;margin-left:5px;vertical-align:top}
.payment_state{margin: 5px 20px;position: absolute;right: 0;top: 0;}
.is_share { background: #ff9000 none repeat scroll 0 0; border-radius: 5px; box-shadow: 0 3px 4px 0 #fff inset; display: inline-block; float: right; padding: 1px 4px;}
/*окно напряжения админов*/
/*Информационное окно админ*/
.popupALL {
        background: #e6ecf5 ;
	position:fixed;
	bottom:20px;
	font-weight:700;
	opacity:0.8;
        line-height: 1.5;
        overflow:hidden;
        right: 0px;
        text-align:  center;
        }
.popup1 {
	background:#f4eeca;
	width:210px;
	padding:10px;
	font-weight:700;
	line-height: 1.5;
        position: relative;
        float: right;
        margin: 5px;
        max-height: 400px;
        overflow: auto;
       	}
    

.apopuptitle { 
    color:#f0eef9;
    font-size: 14px; 
    background: #4d6f95;
    padding: 2px 7px 2px 7px;
    font-weight: normal;
    margin-bottom: 10px;
}
.apopup {
    font-size: 13px;
    color:#000;
    font-family: sans-serif;
    font-size:small;
    font-weight: normal;
    text-decoration: none;
}
    
#infopopup{display: none;}
   
.apopup:hover {
    text-decoration: none !important;  
}
/***************************/
/*конец окна напряжения админов*/

.timesort {
	padding-top: 10px;
	padding-left: 315px;
}

#selected_shiping {
	position: absolute;
	left: 366px;
	top: 67px;
}
#a_button_filter{
	position: absolute;
	left: 1340px;
	top: 35px;
	width: 210px;
}

@media screen and (max-width:1654px) {
	#label_pay-type{
		position: absolute;
		left: 785px;
		top: 70px;
		white-space: nowrap;
	}
	#pay-type{
		position: absolute;
		left: 880px;
		top: 67px;
	}
	#a_button_filter{
		left: 1020px;
	}
}

@media screen and (max-width:1270px) {
	.timesort{
		height: 50px;
	}
	#a_button_filter{
		left: 883px;
		top:96px;
	}
}