<div class="htmlblock_shadow shadow_left">
	<table class="">
	    <tbody>
	    	<tr class="top_shadow"><td></td></tr>
	      	<tr class="mid_noshadow"><td><div class="svg_shadow "></div></td></tr>
		    <tr class="bottom_shadow"><td></td></tr>
	  	</tbody>
	</table>
</div>